<div id="courseListModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Liste gewählter Veranstaltungen</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Hier findest du alle deine gewählten Veranstaltungen in einer Listenansicht</p>

                <ul class="listView">
                    <li class="listView-item" ng-repeat="result in vm.sync.CourseList.SelectedCourses">
                        <div class="listView-item-info">
                            <!-- Template for the main course of a search results -->
                            <p class="listView-item-title">{{result.MainCourse.Name}}</p>
                            <p class="listView-item-subtitle">
                                {{result.MainCourse.Time}}
                                <span ng-if="result.MainCourse.TutorialCount > 0">
                                    <span ng-if="result.MainCourse.Time">+</span> {{result.MainCourse.TutorialCount}} Übung<span ng-if="result.MainCourse.TutorialCount > 1">en</span>
                                </span>
                            </p>
                            <p class="listView-item-subsubtitle">
                                <span ng-if="result.MainCourse.ShortName">{{result.MainCourse.ShortName}} (<a href="{{result.MainCourse.Url}}" target="_blank">{{result.MainCourse.InternalCourseID}}</a>)</span>
                                <span ng-if="!result.MainCourse.ShortName"><a href="{{result.MainCourse.Url}}" target="_blank">{{result.MainCourse.InternalCourseID}}</a></span>
                            </p>
                            <p class="listView-item-subsubtitle">{{result.MainCourse.Docent}}</p>
                            <div ng-repeat="course in result.ConnectedCourses" style="margin-top: 8px;">
                                <!-- Template for connected courses (which is the same as for the main course)-->
                                <p class="listView-item-title">{{course.Name}}</p>
                                <p class="listView-item-subtitle">
                                    {{course.Time}}
                                    <span ng-if="course.TutorialCount > 0"><span ng-if="course.Time">+</span> {{course.TutorialCount}} Übung<span ng-if="course.TutorialCount > 1">en</span></span>
                                </p>
                                <p class="listView-item-subsubtitle">
                                    <span ng-if="course.ShortName">{{course.ShortName}} (<a href="{{course.Url}}" target="_blank">{{course.InternalCourseID}}</a>)</span>
                                    <span ng-if="!course.ShortName"><a href="{{course.Url}}" target="_blank">{{course.InternalCourseID}}</a></span>
                                </p>
                                <p class="listView-item-subsubtitle">{{course.Docent}}</p>
                            </div>
                        </div>
                        <div class="listView-item-commands">
                            <button type="button" class="btn btn-default"
                                    ng-disabled="vm.props.IsBusy"
                                    ng-if="!result.MainCourse.IsAdded"
                                    ng-click="addCourse(result.MainCourse.Id)"
                                    data-course-id="{{result.MainCourse.Id}}">
                                <span class="glyphicon glyphicon-plus"></span> Hinzufügen
                            </button>
                            <button type="button" class="btn btn-default"
                                    ng-disabled="vm.props.IsBusy"
                                    ng-if="result.MainCourse.IsAdded"
                                    ng-click="removeCourse(result.MainCourse.Id)"
                                    data-course-id="{{result.MainCourse.Id}}">
                                <span class="glyphicon glyphicon-minus"></span> Entfernen
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>