@using System.Threading.Tasks
@using ProjectPaula.Model.CalendarExport
<div id="datesDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Termine und Überschneidungen</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <p>Hier siehst du im Detail alle Termine von <strong>{{vm.props.DatesDialogContent.CourseName}}</strong> sowie ggf. die Überschneidungen mit anderen Kursen.</p>

                <div class="container" style="width: 100%; padding: 0;">
                    <div class="table-responsive">
                        <table class="table" id="overlapsTable">
                            <thead>
                                <tr>
                                    <th>{{vm.props.DatesDialogContent.CourseName}}</th>
                                    <th ng-repeat="courseName in vm.props.DatesDialogContent.CourseNames track by $index">{{courseName}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="overlap in vm.props.DatesDialogContent.Overlaps">
                                    <td>{{overlap.Key}}</td>
                                    <td ng-repeat="time in overlap.Value track by $index">{{time}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>