@using System.Threading.Tasks
@using ProjectPaula.Model.CalendarExport
@using ProjectPaula.Util
<div id="shareDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Kommilitonen einladen</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h4>Plane dein Semester mit Freunden</h4>
                <p>Lade Kommilitonen ein, um gemeinsam am Stundenplan zu arbeiten, indem du ihnen folgenden Link sendest:</p>
                @{
                    var scheduleUrl = UrlGeneratorUtil.GenerateScheduleUrl("{{vm.sync.SharedSchedule.Id}}");
                }
                <code id="shareLink">@scheduleUrl</code>
                <button type="button" class="btn share-button" ngclipboard data-clipboard-target="#shareLink">
                    <span aria-hidden="true" class="glyphicon glyphicon-copy"></span> In Zwischenablage kopieren
                </button>
                <br/>
                <a href="@UrlGeneratorUtil.GenerateFacebookMessageUrl(scheduleUrl)" type="button" target="_blank" class="btn share-button">
                    <span aria-hidden="true" class="glyphicon glyphicon-messenger"></span> Über Facebook versenden
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>