<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=@(ViewData["ViewportWidth"] ?? "device-width"), initial-scale=1.0" />
    <title>PAULa</title>
    <base href="/" />

    <environment names="Development,Staging">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment> 
    <environment names="Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site-development.css" asp-append-version="true" />
    </environment>
</head>
<body class="modern-ui">
    <div class="wrapper">
        <div class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">PAULa</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Impressum">Impressum & Datenschutz</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="body-content">
            @RenderBody()
        </div>

        <footer>
            <div class="container">
                <p>&copy; 2015 - ProjectPaula</p>
                <p>Thanks to the creator of <a href="http://glyphicons.com/">Glyphicons</a>!</p>
            </div>
        </footer>
    </div>

    <environment names="Development,Staging">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment names="Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
