@{
    ViewData["Title"] = "SignalR Chat Sample";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This sample demonstrates SignalR realtime communication using the Object Synchronization feature
    to synchronize a ChatViewModel from the server with all connected clients. This ChatViewModel
    is then used as the data context for AngularJS bindings.
</p>

<div ng-app="chatApp">
    <div ng-controller="chatController as vm">

        <!-- This is visible as long as we are not yet connected -->
        <p id="chatLoadingIndicator" style="display: normal">
            Connecting to chat service...
        </p>

        <!-- This becomes visible when we are connected -->
        <div id="chatContainer" class="container" style="display: none">
            <input type="text" id="message" />
            <input type="button" id="sendmessage" value="Send" />

            <!-- Displays a list of connected users -->
            <h3>{{vm.syncedObjects.Chat.Users.Count}} Users</h3>
            <ul>
                <li ng-repeat="user in vm.syncedObjects.Chat.Users">
                    {{user.Name}} (<i>{{user.ConnectionId}}</i>)
                </li>
            </ul>

            <!-- Displays a list of all chat messages -->
            <h3>{{vm.syncedObjects.Chat.Messages.Count}} Messages</h3>
            <ul>
                <li ng-repeat="item in vm.syncedObjects.Chat.Messages">
                    <strong>{{item.User}}</strong>: {{item.Message}}
                </li>
            </ul>

            <!-- Displays the ChatViewModel as JSON -->
            <h3>Raw ViewModel</h3>
            <div id="discussion"></div>
        </div>

    </div>
</div>

@section scripts
{
    <!-- See http://www.asp.net/signalr/overview/getting-started/tutorial-getting-started-with-signalr -->
    
    <!-- SignalR references  -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/signalr/jquery.signalR.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/js/ObjectSynchronization.js"></script>

    <!-- Angular references -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/controllers/chatController.js"></script>

}