@{
    ViewData["Title"] = "SignalR Chat Sample";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p id="chatLoadingIndicator" style="display: normal">
    Connecting to chat service...
</p>

<div id="chatContainer" class="container" style="display: none">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <div id="discussion"></div>
</div>

@section scripts
{
    <!-- See http://www.asp.net/signalr/overview/getting-started/tutorial-getting-started-with-signalr -->
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/js/ObjectSynchronization.js"></script>

    <script type="text/javascript">

        $(function () {

            // Here are the chat-specific things
            var chat = $.connection.chatHub;
            $.connection.initializeObjectSynchronization(chat);

            // Open the connection
            $.connection.hub.start().done(function () {

                // Ask for username
                var name = prompt('Enter your name:', '');
                chat.server.register(name);

                setInterval(function () {

                    $("#discussion").html(JSON.stringify($.connection.chatHub.synchronizedObjects.Chat, null, 4));
                    $("#discussion").css("white-space", "pre-wrap");

                }, 1000);

                $("#chatLoadingIndicator").css("display", "none");
                $("#chatContainer").css("display", "");

                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    chat.server.send($('#message').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
            });
        });
    </script>
}