@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<string>
@{
    ViewBag.Title = "Logs";
}

@{
    <div class="container">
        @foreach (var line in Model)
        {
            <div>@line</div>
        }
    </div>
}