@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Test";
}

<table id="timetable">
    <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thrusday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>

    <tr>
        <th>10:00</th>

        <td rowspan="3">
            <!-- TODO Proper overlap visualization here -->
            <div>Physics-1 OVERLAP Math-2</div>
        </td>
        <td>English</td>
        <td rowspan="2">Physics-1</td>
        <td>Chemestry-1</td>
        <td>Alzebra</td>
        <td>Physical</td>
    </tr>

    <tr>
        <th>11:00</th>

        <td>Chemestry-2</td>
        <td>Hindi</td>
        <td>English</td>
        <td>Soft Skill</td>
    </tr>

    <tr>
        <th>12:00</th>

        <td>English</td>
        <td>Math-1</td>
        <td>Chemistry</td>
        <td>Physics</td>
        <td>Chem.Lab</td>
    </tr>

    <tr>
        <th>01:00</th>

        <td>Cumm. Skill</td>
        <td>Sports</td>
        <td>English</td>
        <td>Computer Lab</td>
        <td>Header</td>
        <td>Header</td>
    </tr>

    <tr>
        <th>02:00</th>

        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
    </tr>
</table>