@using Microsoft.Data.Entity.Metadata
@using ProjectPaula.ViewModel
@{
    ViewBag.Title = "Timetable";
    ViewBag.ViewportWidth = 1000;
}
<div ng-app="timetableApp">
    <div ng-controller="timetableController as vm" ng-cloak>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#joinDialog">
            Stundenplan öffnen
        </button>

        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createDialog">
            Neuen Stundenplan erstellen
        </button>

        <div id="createDialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Neuen Stundenplan erstellen</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-if="!vm.props.IsConnected">
                            Einen Moment noch, die Verbindung wird hergestellt...
                        </div>
                        <div ng-if="vm.props.IsConnected">
                            <div ng-if="vm.syncedObjects.User.State == 'Default'">
                                <p>Gib deinen Vornamen ein:</p>
                                <input type="text" ng-model="vm.props.UserName" />
                                <button type="button" class="btn btn-primary" ng-click="createSchedule(vm.props.UserName)">Erstellen</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="joinDialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Stundenplan öffnen</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-if="!vm.props.IsConnected">
                            Einen Moment noch, die Verbindung wird hergestellt...
                        </div>
                        <div ng-if="vm.props.IsConnected">
                            <div ng-if="vm.syncedObjects.User.State == 'Default'">
                                <p>Gib hier den eindeutigen Bezeichner des Stundenplans ein, den du öffnen möchtest</p>
                                <input type="text" ng-model="vm.props.ScheduleId" />
                                <button type="button" class="btn btn-primary" ng-click="beginJoinSchedule(vm.props.ScheduleId)">Öffnen</button>
                            </div>
                            <div ng-if="vm.syncedObjects.User.State == 'JoiningSchedule'">
                                <p>Wähle nun einen der unten stehenden Namen. Wenn keiner zutrifft, gib deinen Namen selbst ein</p>
                                <ul>
                                    <li ng-repeat="name in vm.syncedObjects.SharedSchedule.AvailableUserNames">
                                        <button type="button" ng-click="completeJoinSchedule(name)">{{name}}</button>
                                    </li>
                                </ul>
                                <input type="text" ng-model="vm.props.UserName" />
                                <button type="button" class="btn btn-primary" ng-click="completeJoinSchedule(vm.props.UserName)">Jetzt loslegen</button>
                            </div>
                            <div ng-if="vm.syncedObjects.User.State == 'JoinedSchedule'">
                                <p><strong>Alles bereit {{vm.syncedObjects.User.Name}}, viel Spaß beim Planen deines Stundenplans.</strong></p>
                                <p>Lade Kommilitonen ein, um gemeinsam am Stundenplan zu arbeiten, indem du ihnen diesen Code sendest:</p>
                                <code>{{vm.syncedObjects.SharedSchedule.Id}}</code>
                                <p>Folgende Personen bearbeiten im Moment diesen Stundenplan:</p>
                                <ul>
                                    <li ng-repeat="client in vm.syncedObjects.SharedSchedule.Users">{{client.Name}}</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Jetzt loslegen</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#searchCourseModal">
            Veranstaltungen hinzufügen
        </button>

        <div id="searchCourseModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Veranstaltungen suchen</h4>
                    </div>
                    <div class="modal-body">
                        <input id="searchCourseModal-input" type="text" ng-bind="vm.SearchQuery"/>
                        <ul id="searchCourseModal-courseList" class="list-group">
                            <li class="searchCourseModal-course list-group-item" ng-repeat="course in vm.syncedObjects.Search.SearchResults">
                                <span>{{course.Name}}</span>
                                <button type="button" ng-click="addCourse(course.Id)" data-course-id="{{course.Id}}" class="btn btn-default searchCourseModal-course-add">Hinzufügen</button>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer"></div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="timetable" class="container-fluid">
            <div class="row">
                <div class="timetable-times col-md-1">
                    <div class="timetable-row-1 timetable-header"></div>
                    <div class="timetable-row-1 timetable-header" ng-repeat="time in vm.syncedObjects.TailoredSchedule.HalfHourTimes">{{time}}</div>
                </div>
                <div class="col-md-2 col-lg-1" style="width: {{100/(vm.syncedObjects.TailoredSchedule.Weekdays.length + 1)}}%;" ng-repeat="weekday in vm.syncedObjects.TailoredSchedule.Weekdays">
                    <div class="timetable-row-1 timetable-header timetable-header-day">{{weekday.Description}}</div>
                    <div ng-repeat="multiCourse in weekday.MultiCourses">

                        <div class="stack-outer timetable-row-{{multiCourse.LengthInHalfHours}}">
                            <div class="stack-inner">
                                <div class="timetable-cell timetable-row-1" ng-repeat="i in vm.range(multiCourse.LengthInHalfHours) track by $index"></div>
                            </div>
                            <div class="stack-inner timetable-row-container-row">
                                <div ng-repeat="course in multiCourse.Courses" class="timetable-row-{{(course.LengthInHalfHours + course.HalfHourOffset)}}" style="width: {{(100/multiCourse.Courses.length)}}% ">
                                    <div class="timetable-row-{{course.HalfHourOffset}}"><!-- Spacing --></div>
                                    <div ng-click="removeCourse(course.Id)" title="{{course.Title}}" class="timetable-course timetable-row-course-{{course.LengthInHalfHours}}">
                                        <span class="timetable-course-time">{{course.Time}}</span>
                                        <br/>
                                        <span class="timetable-course-title">{{course.Title}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="timetable-cell timetable-row-1" ng-if="multiCourse.Empty"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <!-- See http://www.asp.net/signalr/overview/getting-started/tutorial-getting-started-with-signalr -->
    <!-- SignalR references  -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/signalr/jquery.signalR.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/js/ObjectSynchronization.js"></script>
    <!-- Angular references -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/timetableController.js"></script>
}
