@using Microsoft.Data.Entity.Metadata
@using ProjectPaula.ViewModel
@{
    ViewBag.Title = "Timetable";
    ViewBag.ViewportWidth = 1000;
}
<div ng-app="timetableApp">
    <div ng-controller="timetableController as vm" ng-cloak>
        
        <!-- Introduction View -->
        <div ng-if="!vm.props.IsConnected || vm.sync.User.State == 'Default'">
            <h2>Project PAULa</h2>
            <p style="max-width: 500px;">
                Stelle dir mit Project PAULa ganz einfach deinen Stundenplan für das kommende Semester zusammen - alleine oder mit deinen Kommilitonen.
                Keine Registrierung erforderlich!
                Wenn du fertig bist, kannst du den Stundenplan in deinen Lieblingskalender (Google, Outlook etc.) exportieren.
            </p>
        
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createDialog" ng-disabled="!vm.props.IsConnected">
                Neuen Stundenplan erstellen
            </button>
            
            <button type="button" class="btn" data-toggle="modal" data-target="#joinDialog" ng-disabled="!vm.props.IsConnected">
                Vorhandenen Stundenplan öffnen
            </button>

            <p ng-if="vm.props.IsConnected" style="margin-top: 12px">Im Moment sind {{vm.sync.Public.ClientCount}} Leute online.</p>
        </div>

        <!-- Schedule View -->
        <div ng-if="vm.sync.User.State == 'JoinedSchedule'">
            <button type="button" class="btn" data-toggle="modal" data-target="#searchCourseModal">
                Veranstaltungen hinzufügen
            </button>

            <div id="timetable">
                <div class="row">
                    <div class="timetable-times col-md-1" style="width: 100px;">
                        <div class="timetable-row-1 timetable-header"></div>
                        <div class="timetable-row-1 timetable-header" ng-repeat="time in vm.sync.TailoredSchedule.HalfHourTimes">{{time}}</div>
                    </div>
                    <div class="col-md-2 col-lg-1" ng-style="{ width: 'calc((100% - 100px) / ' + vm.sync.TailoredSchedule.Weekdays.length + ')' }" ng-repeat="weekday in vm.sync.TailoredSchedule.Weekdays">
                        <div class="timetable-row-1 timetable-header timetable-header-day">{{weekday.Description}}</div>
                        <div ng-repeat="multiCourse in weekday.MultiCourses">

                            <div class="stack-outer timetable-row-{{multiCourse.LengthInHalfHours}}">
                                <div class="stack-inner">
                                    <div class="timetable-cell timetable-row-1" ng-repeat="i in range(multiCourse.LengthInHalfHours) track by $index"></div>
                                </div>
                                <div class="stack-inner timetable-row-container-row">
                                    <div ng-repeat="course in multiCourse.Courses" class="timetable-row-{{(course.LengthInHalfHours + course.HalfHourOffset)}}" ng-style="{ width: (100/multiCourse.Courses.length) + '%' }">
                                        <div class="timetable-row-{{course.HalfHourOffset}}"><!-- Spacing --></div>
                                        <div title="{{course.Title}}" class="dropdown timetable-course timetable-row-course-{{course.LengthInHalfHours}} stack-outer timetable-course-info-container">
                                        
                                                <div class="stack-inner timetable-course-info" data-toggle="dropdown" role="button">
                                                    <span class="timetable-course-time">{{course.Time}}</span>
                                                    <br />
                                                    <span class="timetable-course-title">{{course.Title}}</span>
                                                    <br />
                                                    <span>Belegt mit: {{course.Users}}</span>
                                                </div>
                                                <ul class="stack-inner dropdown-menu timetable-course-dropdown">
                                                    <li class="timetable-course-delete" ng-click="removeCourse(course.Id)"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span> Delete</li>
                                                </ul>
                                       
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="timetable-cell timetable-row-1" ng-if="multiCourse.Empty"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="createDialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Neuen Stundenplan erstellen</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div ng-if="vm.sync.User.State == 'Default'">
                            <h4>Dein Vorname</h4>
                            <p>Wir brauchen deinen Vornamen (oder einen Spitznamen deiner Wahl) damit wir deine gewählten Kurse von denen deiner Freunde unterscheiden können, falls sie an dem Stundenplan mitarbeiten.</p>
                            <input type="text" ng-model="vm.props.UserName" paula-enter="createSchedule(vm.props.UserName, vm.props.CourseCatalogId)" />

                            <h4>Semester</h4>
                            <p>Das Semester für das du den Stundenplan erstellen willst. Hiervon hängen die Kurse ab, die du wählen kannst.</p>
                            <select ng-model="vm.props.CourseCatalogId"
                                    ng-options="catalog.InternalID as catalog.Title for catalog in vm.sync.Public.AvailableSemesters">
                            </select>
                        </div>
                        <div ng-if="vm.sync.User.State == 'JoinedSchedule'">
                            <p><strong>Alles bereit {{vm.sync.User.Name}}, viel Spaß beim Planen deines Stundenplans.</strong></p>
                            <p>Lade Kommilitonen ein, um gemeinsam am Stundenplan zu arbeiten, indem du ihnen diesen Code sendest:</p>
                            <code>{{vm.sync.SharedSchedule.Id}}</code>
                            <p>Folgende Personen bearbeiten im Moment diesen Stundenplan:</p>
                            <ul>
                                <li ng-repeat="client in vm.sync.SharedSchedule.Users">{{client.Name}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-if="vm.sync.User.State == 'Default'" type="button" class="btn" ng-click="createSchedule(vm.props.UserName, vm.props.CourseCatalogId)">Erstellen</button>
                        <button ng-if="vm.sync.User.State == 'JoinedSchedule'" type="button" class="btn" data-dismiss="modal">Jetzt loslegen</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="joinDialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Stundenplan öffnen</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div ng-if="!vm.props.IsConnected">
                            <p>Einen Moment noch, die Verbindung wird hergestellt...</p>
                            <img src="~/images/ProgressRing.gif"/>
                        </div>
                        <div ng-if="vm.props.IsConnected">
                            <div ng-if="vm.sync.User.State == 'Default'">
                                <p>Gib hier den eindeutigen Bezeichner des Stundenplans ein, den du öffnen möchtest</p>
                                <input type="text" ng-model="vm.props.ScheduleId" paula-enter="beginJoinSchedule(vm.props.ScheduleId)" />
                                <button type="button" class="btn" ng-click="beginJoinSchedule(vm.props.ScheduleId)">Öffnen</button>
                            </div>
                            <div ng-if="vm.sync.User.State == 'JoiningSchedule'">
                                <p>Wähle nun einen der unten stehenden Namen. Wenn keiner zutrifft, gib deinen Namen selbst ein</p>
                                <p>
                                    <button ng-repeat="name in vm.sync.SharedSchedule.AvailableUserNames"
                                            type="button" class="btn nameSuggestionButton" ng-click="completeJoinSchedule(name)">
                                        {{name}}
                                    </button>
                                </p>
                                <input type="text" ng-model="vm.props.UserName" paula-enter="completeJoinSchedule(vm.props.UserName)" />
                                <button type="button" class="btn" ng-click="completeJoinSchedule(vm.props.UserName)">Jetzt loslegen</button>
                            </div>
                            <div ng-if="vm.sync.User.State == 'JoinedSchedule'">
                                <p><strong>Alles bereit {{vm.sync.User.Name}}, viel Spaß beim Planen deines Stundenplans.</strong></p>
                                <p>Lade Kommilitonen ein, um gemeinsam am Stundenplan zu arbeiten, indem du ihnen diesen Code sendest:</p>
                                <code>{{vm.sync.SharedSchedule.Id}}</code>
                                <p>Folgende Personen bearbeiten im Moment diesen Stundenplan:</p>
                                <ul>
                                    <li ng-repeat="client in vm.sync.SharedSchedule.Users">{{client.Name}}</li>
                                </ul>
                                <button type="button" class="btn" data-dismiss="modal">Jetzt loslegen</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="searchCourseModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Veranstaltungen suchen</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p>Finde Veranstaltungen aus dem PAUL-Vorlesungsverzeichnis anhand des Namens, der Abkürzung, oder des Dozenten und füge sie deinem Stundenplan hinzu.</p>
                        <input type="text" ng-model="vm.props.SearchQuery" paula-enter="searchCourses(vm.props.SearchQuery)" />
                        <button type="button" class="btn" ng-click="searchCourses(vm.props.SearchQuery)">Suchen</button>
                        <ul id="searchCourseModal-courseList" class="list-group">
                            <li class="searchCourseModal-course list-group-item" ng-repeat="result in vm.sync.Search.SearchResults">

                                <div class="searchCourseModal-course-info">
                                    <p class="searchCourseModal-course-name">{{result.MainCourse.Name}}</p>
                                    <p class="searchCourseModal-course-time">{{result.MainCourse.Time}}</p>
                                    <p class="searchCourseModal-course-shortName">{{result.MainCourse.ShortName}}</p>

                                    <div ng-repeat="course in result.ConnectedCourses" style="margin-top: 8px;">
                                        <p class="searchCourseModal-course-name">{{course.Name}}</p>
                                        <p class="searchCourseModal-course-time">{{course.Time}}</p>
                                        <p class="searchCourseModal-course-shortName">{{course.ShortName}}</p>
                                    </div>
                                </div>
                                
                                <div class="searchCourseModal-course-commands">
                                    <button type="button" ng-click="addCourse(result.MainCourse.Id)" data-course-id="{{result.MainCourse.Id}}" class="btn btn-default searchCourseModal-course-add">Hinzufügen</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</div>
@section scripts
{
<!-- See http://www.asp.net/signalr/overview/getting-started/tutorial-getting-started-with-signalr -->
<!-- SignalR references  -->
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalr/jquery.signalR.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/js/ObjectSynchronization.js"></script>
<!-- Angular references -->
<script src="~/lib/angular/angular.js"></script>
<script src="~/js/app.js"></script>
<script src="~/js/timetableController.js"></script>
}
