@using Microsoft.Data.Entity.Metadata
@using ProjectPaula.ViewModel

@model TimetableViewModel

@{
    ViewBag.Title = "Timetable";
}

<div id="timetable" class="container-fluid">
    <div class="row">
        <div class="timetable-times col-md-1">
            <div class="timetable-row-1 timetable-header"></div>
            @foreach (var time in Model.HalfHourTimes)
            {
                <div class="timetable-row-1 timetable-header">@time</div>
            }
        </div>

        @foreach (TimetableViewModel.Weekday weekday in Model.Weekdays)
        {
            <div class="col-md-2 col-lg-1">
                <div class="timetable-row-1 timetable-header timetable-header-day">@(weekday.Description)</div>

                @foreach(TimetableViewModel.ViewModelMultiCourse multiCourse in weekday.MultiCourses)
                {
                    if (!multiCourse.Empty)
                    {

                        <div class="stack-outer timetable-row-@multiCourse.LengthInHalfHours">
                            <div class="stack-inner">
                                @for (var j = 0; j < multiCourse.LengthInHalfHours; j++)
                                {
                                    <div class="timetable-cell timetable-row-1"></div>
                                }
                            </div>
                            <div class="stack-inner timetable-row-container-row">
                                @foreach (var course in multiCourse.Courses)
                                {
                                    <div class="timetable-row-@(course.LengthInHalfHours + multiCourse.HalfHourOffsetsByCourse[course]))" style="width: @(100/multiCourse.Courses.Count)%">
                                        <div class="timetable-row-@multiCourse.HalfHourOffsetsByCourse[course]"><!-- Spacing --></div>
                                        <div class="timetable-class timetable-row-@course.LengthInHalfHours">@course.Title</div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="timetable-cell timetable-row-1"></div>
                    }
                }
            </div>
        }

    </div>
</div>