/**
    Colors explained in the legend.
*/
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #F2F2F2;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding: 15px;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
  max-width: 280px;
}
/* Carousel */
.carousel-caption {
  z-index: 10 !important;
}
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .carousel-caption {
    z-index: 10 !important;
  }
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
#searchCourseModal #searchCourseModal-input {
  width: 100%;
}
#scheduleIdHeader {
  margin: 12px 0 4px 0;
}
#joinDialogScheduleIdSection {
  display: none;
}
span.colorDiscouraged {
  color: #F4A7A7;
}
span.colorNotDiscouraged {
  color: #C9DFA6;
}
span.colorSelectedCourse {
  color: orange;
}
span.colorNotSelectedCourse {
  color: lightgray;
}
span.colorSelectedMinOverlap {
  color: #ff7f7f;
}
span.colorSelectedMaxOverlap {
  color: #ff0000;
}
#timetable {
  margin: 20px 0 0 0;
}
#timetable .timetable-row-0 {
  height: 0px;
}
#timetable .timetable-row-offset-0 {
  top: 0px;
}
#timetable .timetable-row-course-0 {
  height: -5px;
}
#timetable .timetable-row-1 {
  height: 50px;
}
#timetable .timetable-row-offset-1 {
  top: 50px;
}
#timetable .timetable-row-course-1 {
  height: 45px;
}
#timetable .timetable-row-2 {
  height: 100px;
}
#timetable .timetable-row-offset-2 {
  top: 100px;
}
#timetable .timetable-row-course-2 {
  height: 95px;
}
#timetable .timetable-row-3 {
  height: 150px;
}
#timetable .timetable-row-offset-3 {
  top: 150px;
}
#timetable .timetable-row-course-3 {
  height: 145px;
}
#timetable .timetable-row-4 {
  height: 200px;
}
#timetable .timetable-row-offset-4 {
  top: 200px;
}
#timetable .timetable-row-course-4 {
  height: 195px;
}
#timetable .timetable-row-5 {
  height: 250px;
}
#timetable .timetable-row-offset-5 {
  top: 250px;
}
#timetable .timetable-row-course-5 {
  height: 245px;
}
#timetable .timetable-row-6 {
  height: 300px;
}
#timetable .timetable-row-offset-6 {
  top: 300px;
}
#timetable .timetable-row-course-6 {
  height: 295px;
}
#timetable .timetable-row-7 {
  height: 350px;
}
#timetable .timetable-row-offset-7 {
  top: 350px;
}
#timetable .timetable-row-course-7 {
  height: 345px;
}
#timetable .timetable-row-8 {
  height: 400px;
}
#timetable .timetable-row-offset-8 {
  top: 400px;
}
#timetable .timetable-row-course-8 {
  height: 395px;
}
#timetable .timetable-row-9 {
  height: 450px;
}
#timetable .timetable-row-offset-9 {
  top: 450px;
}
#timetable .timetable-row-course-9 {
  height: 445px;
}
#timetable .timetable-row-10 {
  height: 500px;
}
#timetable .timetable-row-offset-10 {
  top: 500px;
}
#timetable .timetable-row-course-10 {
  height: 495px;
}
#timetable .timetable-row-11 {
  height: 550px;
}
#timetable .timetable-row-offset-11 {
  top: 550px;
}
#timetable .timetable-row-course-11 {
  height: 545px;
}
#timetable .timetable-row-12 {
  height: 600px;
}
#timetable .timetable-row-offset-12 {
  top: 600px;
}
#timetable .timetable-row-course-12 {
  height: 595px;
}
#timetable .timetable-row-13 {
  height: 650px;
}
#timetable .timetable-row-offset-13 {
  top: 650px;
}
#timetable .timetable-row-course-13 {
  height: 645px;
}
#timetable .timetable-row-14 {
  height: 700px;
}
#timetable .timetable-row-offset-14 {
  top: 700px;
}
#timetable .timetable-row-course-14 {
  height: 695px;
}
#timetable .timetable-row-15 {
  height: 750px;
}
#timetable .timetable-row-offset-15 {
  top: 750px;
}
#timetable .timetable-row-course-15 {
  height: 745px;
}
#timetable .timetable-row-16 {
  height: 800px;
}
#timetable .timetable-row-offset-16 {
  top: 800px;
}
#timetable .timetable-row-course-16 {
  height: 795px;
}
#timetable .timetable-row-17 {
  height: 850px;
}
#timetable .timetable-row-offset-17 {
  top: 850px;
}
#timetable .timetable-row-course-17 {
  height: 845px;
}
#timetable .timetable-row-18 {
  height: 900px;
}
#timetable .timetable-row-offset-18 {
  top: 900px;
}
#timetable .timetable-row-course-18 {
  height: 895px;
}
#timetable .timetable-row-19 {
  height: 950px;
}
#timetable .timetable-row-offset-19 {
  top: 950px;
}
#timetable .timetable-row-course-19 {
  height: 945px;
}
#timetable .timetable-row-20 {
  height: 1000px;
}
#timetable .timetable-row-offset-20 {
  top: 1000px;
}
#timetable .timetable-row-course-20 {
  height: 995px;
}
#timetable .timetable-row-21 {
  height: 1050px;
}
#timetable .timetable-row-offset-21 {
  top: 1050px;
}
#timetable .timetable-row-course-21 {
  height: 1045px;
}
#timetable .timetable-row-22 {
  height: 1100px;
}
#timetable .timetable-row-offset-22 {
  top: 1100px;
}
#timetable .timetable-row-course-22 {
  height: 1095px;
}
#timetable .timetable-row-23 {
  height: 1150px;
}
#timetable .timetable-row-offset-23 {
  top: 1150px;
}
#timetable .timetable-row-course-23 {
  height: 1145px;
}
#timetable .timetable-row-24 {
  height: 1200px;
}
#timetable .timetable-row-offset-24 {
  top: 1200px;
}
#timetable .timetable-row-course-24 {
  height: 1195px;
}
#timetable .timetable-row-25 {
  height: 1250px;
}
#timetable .timetable-row-offset-25 {
  top: 1250px;
}
#timetable .timetable-row-course-25 {
  height: 1245px;
}
#timetable .timetable-row-26 {
  height: 1300px;
}
#timetable .timetable-row-offset-26 {
  top: 1300px;
}
#timetable .timetable-row-course-26 {
  height: 1295px;
}
#timetable .timetable-row-27 {
  height: 1350px;
}
#timetable .timetable-row-offset-27 {
  top: 1350px;
}
#timetable .timetable-row-course-27 {
  height: 1345px;
}
#timetable .timetable-row-28 {
  height: 1400px;
}
#timetable .timetable-row-offset-28 {
  top: 1400px;
}
#timetable .timetable-row-course-28 {
  height: 1395px;
}
#timetable .timetable-row-29 {
  height: 1450px;
}
#timetable .timetable-row-offset-29 {
  top: 1450px;
}
#timetable .timetable-row-course-29 {
  height: 1445px;
}
#timetable .timetable-row-30 {
  height: 1500px;
}
#timetable .timetable-row-offset-30 {
  top: 1500px;
}
#timetable .timetable-row-course-30 {
  height: 1495px;
}
#timetable .timetable-row-31 {
  height: 1550px;
}
#timetable .timetable-row-offset-31 {
  top: 1550px;
}
#timetable .timetable-row-course-31 {
  height: 1545px;
}
#timetable .timetable-row-32 {
  height: 1600px;
}
#timetable .timetable-row-offset-32 {
  top: 1600px;
}
#timetable .timetable-row-course-32 {
  height: 1595px;
}
#timetable .timetable-row-33 {
  height: 1650px;
}
#timetable .timetable-row-offset-33 {
  top: 1650px;
}
#timetable .timetable-row-course-33 {
  height: 1645px;
}
#timetable .timetable-row-34 {
  height: 1700px;
}
#timetable .timetable-row-offset-34 {
  top: 1700px;
}
#timetable .timetable-row-course-34 {
  height: 1695px;
}
#timetable .timetable-row-35 {
  height: 1750px;
}
#timetable .timetable-row-offset-35 {
  top: 1750px;
}
#timetable .timetable-row-course-35 {
  height: 1745px;
}
#timetable .timetable-row-36 {
  height: 1800px;
}
#timetable .timetable-row-offset-36 {
  top: 1800px;
}
#timetable .timetable-row-course-36 {
  height: 1795px;
}
#timetable .timetable-row-37 {
  height: 1850px;
}
#timetable .timetable-row-offset-37 {
  top: 1850px;
}
#timetable .timetable-row-course-37 {
  height: 1845px;
}
#timetable .timetable-row-38 {
  height: 1900px;
}
#timetable .timetable-row-offset-38 {
  top: 1900px;
}
#timetable .timetable-row-course-38 {
  height: 1895px;
}
#timetable .timetable-row-39 {
  height: 1950px;
}
#timetable .timetable-row-offset-39 {
  top: 1950px;
}
#timetable .timetable-row-course-39 {
  height: 1945px;
}
#timetable .timetable-row-40 {
  height: 2000px;
}
#timetable .timetable-row-offset-40 {
  top: 2000px;
}
#timetable .timetable-row-course-40 {
  height: 1995px;
}
#timetable .timetable-row-41 {
  height: 2050px;
}
#timetable .timetable-row-offset-41 {
  top: 2050px;
}
#timetable .timetable-row-course-41 {
  height: 2045px;
}
#timetable .timetable-row-42 {
  height: 2100px;
}
#timetable .timetable-row-offset-42 {
  top: 2100px;
}
#timetable .timetable-row-course-42 {
  height: 2095px;
}
#timetable .timetable-row-43 {
  height: 2150px;
}
#timetable .timetable-row-offset-43 {
  top: 2150px;
}
#timetable .timetable-row-course-43 {
  height: 2145px;
}
#timetable .timetable-row-44 {
  height: 2200px;
}
#timetable .timetable-row-offset-44 {
  top: 2200px;
}
#timetable .timetable-row-course-44 {
  height: 2195px;
}
#timetable .timetable-row-45 {
  height: 2250px;
}
#timetable .timetable-row-offset-45 {
  top: 2250px;
}
#timetable .timetable-row-course-45 {
  height: 2245px;
}
#timetable .timetable-row-46 {
  height: 2300px;
}
#timetable .timetable-row-offset-46 {
  top: 2300px;
}
#timetable .timetable-row-course-46 {
  height: 2295px;
}
#timetable .timetable-row-47 {
  height: 2350px;
}
#timetable .timetable-row-offset-47 {
  top: 2350px;
}
#timetable .timetable-row-course-47 {
  height: 2345px;
}
#timetable .timetable-row-48 {
  height: 2400px;
}
#timetable .timetable-row-offset-48 {
  top: 2400px;
}
#timetable .timetable-row-course-48 {
  height: 2395px;
}
#timetable .timetable-header {
  background-color: darkslategrey;
  color: white;
  text-align: center;
  border-style: solid;
  border-width: 0 0 1px 0;
}
#timetable .timetable-header-day {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}
#timetable .timetable-row-container-row {
  padding-left: 5px;
}
#timetable .timetable-row-container-row > [class*="timetable-row-"] {
  float: left;
}
#timetable .timetable-cell {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-top: transparent;
  border-left: transparent;
}
#timetable .timetable-course {
  text-overflow: ellipsis;
  margin-right: 5px;
  padding: 5px;
}
#timetable .timetable-course .timetable-course-dropdown {
  top: 0px;
  padding-left: 5px;
  min-width: initial;
  max-height: 100%;
  overflow: auto;
}
#timetable .timetable-course .timetable-course-info-container {
  height: 100%;
}
#timetable .timetable-course .timetable-course-info {
  height: 100%;
  padding-right: 10px;
  padding-bottom: 10px;
}
#timetable .timetable-course-selected {
  background-color: orange;
}
#timetable .timetable-course-notselected {
  background-color: lightgray;
}
#timetable .timetable-course-highlighted:before {
  box-shadow: 0px 0px 20px 4px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  content: "";
}
#timetable .timetable-course-highlighted {
  transition: background-color 0.5s;
}
#timetable .timetable-course-nothighlighted {
  transition: background-color 1s;
}
#timetable .timetable-course-selected.timetable-course-nothighlighted {
  background-color: #b37300;
}
#timetable .timetable-course-notselected.timetable-course-nothighlighted {
  background-color: #a0a0a0;
}
#timetable .timetable-course-pending.timetable-course-discouraged.timetable-course-nothighlighted {
  background-color: #cb6a6a;
}
#timetable .timetable-course-pending.timetable-course-notdiscouraged.timetable-course-nothighlighted {
  background-color: #94a37c;
}
#timetable .timetable-course-pending.timetable-course-discouraged {
  background-color: #F4A7A7;
  border-left: 4px solid red;
}
#timetable .timetable-course-pending.timetable-course-notdiscouraged {
  background-color: #C9DFA6;
  border-left: 4px solid green;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-1 {
  border-left: 4px solid #ff7f7f;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-2 {
  border-left: 4px solid #ff7e7e;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-3 {
  border-left: 4px solid #ff7d7d;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-4 {
  border-left: 4px solid #ff7c7c;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-5 {
  border-left: 4px solid #ff7a7a;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-6 {
  border-left: 4px solid #ff7979;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-7 {
  border-left: 4px solid #ff7878;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-8 {
  border-left: 4px solid #ff7676;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-9 {
  border-left: 4px solid #ff7575;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-10 {
  border-left: 4px solid #ff7474;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-11 {
  border-left: 4px solid #ff7373;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-12 {
  border-left: 4px solid #ff7171;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-13 {
  border-left: 4px solid #ff7070;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-14 {
  border-left: 4px solid #ff6f6f;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-15 {
  border-left: 4px solid #ff6d6d;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-16 {
  border-left: 4px solid #ff6c6c;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-17 {
  border-left: 4px solid #ff6b6b;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-18 {
  border-left: 4px solid #ff6a6a;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-19 {
  border-left: 4px solid #ff6868;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-20 {
  border-left: 4px solid #ff6767;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-21 {
  border-left: 4px solid #ff6666;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-22 {
  border-left: 4px solid #ff6464;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-23 {
  border-left: 4px solid #ff6363;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-24 {
  border-left: 4px solid #ff6262;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-25 {
  border-left: 4px solid #ff6161;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-26 {
  border-left: 4px solid #ff5f5f;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-27 {
  border-left: 4px solid #ff5e5e;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-28 {
  border-left: 4px solid #ff5d5d;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-29 {
  border-left: 4px solid #ff5b5b;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-30 {
  border-left: 4px solid #ff5a5a;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-31 {
  border-left: 4px solid #ff5959;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-32 {
  border-left: 4px solid #ff5858;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-33 {
  border-left: 4px solid #ff5656;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-34 {
  border-left: 4px solid #ff5555;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-35 {
  border-left: 4px solid #ff5454;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-36 {
  border-left: 4px solid #ff5252;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-37 {
  border-left: 4px solid #ff5151;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-38 {
  border-left: 4px solid #ff5050;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-39 {
  border-left: 4px solid #ff4f4f;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-40 {
  border-left: 4px solid #ff4d4d;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-41 {
  border-left: 4px solid #ff4c4c;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-42 {
  border-left: 4px solid #ff4b4b;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-43 {
  border-left: 4px solid #ff4949;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-44 {
  border-left: 4px solid #ff4848;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-45 {
  border-left: 4px solid #ff4747;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-46 {
  border-left: 4px solid #ff4646;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-47 {
  border-left: 4px solid #ff4444;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-48 {
  border-left: 4px solid #ff4343;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-49 {
  border-left: 4px solid #ff4242;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-50 {
  border-left: 4px solid #ff4040;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-51 {
  border-left: 4px solid #ff3f3f;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-52 {
  border-left: 4px solid #ff3e3e;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-53 {
  border-left: 4px solid #ff3d3d;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-54 {
  border-left: 4px solid #ff3b3b;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-55 {
  border-left: 4px solid #ff3a3a;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-56 {
  border-left: 4px solid #ff3939;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-57 {
  border-left: 4px solid #ff3737;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-58 {
  border-left: 4px solid #ff3636;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-59 {
  border-left: 4px solid #ff3535;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-60 {
  border-left: 4px solid #ff3434;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-61 {
  border-left: 4px solid #ff3232;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-62 {
  border-left: 4px solid #ff3131;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-63 {
  border-left: 4px solid #ff3030;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-64 {
  border-left: 4px solid #ff2e2e;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-65 {
  border-left: 4px solid #ff2d2d;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-66 {
  border-left: 4px solid #ff2c2c;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-67 {
  border-left: 4px solid #ff2a2a;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-68 {
  border-left: 4px solid #ff2929;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-69 {
  border-left: 4px solid #ff2828;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-70 {
  border-left: 4px solid #ff2727;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-71 {
  border-left: 4px solid #ff2525;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-72 {
  border-left: 4px solid #ff2424;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-73 {
  border-left: 4px solid #ff2323;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-74 {
  border-left: 4px solid #ff2121;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-75 {
  border-left: 4px solid #ff2020;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-76 {
  border-left: 4px solid #ff1f1f;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-77 {
  border-left: 4px solid #ff1e1e;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-78 {
  border-left: 4px solid #ff1c1c;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-79 {
  border-left: 4px solid #ff1b1b;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-80 {
  border-left: 4px solid #ff1a1a;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-81 {
  border-left: 4px solid #ff1818;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-82 {
  border-left: 4px solid #ff1717;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-83 {
  border-left: 4px solid #ff1616;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-84 {
  border-left: 4px solid #ff1515;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-85 {
  border-left: 4px solid #ff1313;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-86 {
  border-left: 4px solid #ff1212;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-87 {
  border-left: 4px solid #ff1111;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-88 {
  border-left: 4px solid #ff0f0f;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-89 {
  border-left: 4px solid #ff0e0e;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-90 {
  border-left: 4px solid #ff0d0d;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-91 {
  border-left: 4px solid #ff0c0c;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-92 {
  border-left: 4px solid #ff0a0a;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-93 {
  border-left: 4px solid #ff0909;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-94 {
  border-left: 4px solid #ff0808;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-95 {
  border-left: 4px solid #ff0606;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-96 {
  border-left: 4px solid #ff0505;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-97 {
  border-left: 4px solid #ff0404;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-98 {
  border-left: 4px solid #ff0303;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-99 {
  border-left: 4px solid #ff0101;
}
#timetable .timetable-course-notpending.timetable-course-overlaps-percent-100 {
  border-left: 4px solid #ff0000;
}
#timetable .timetable-course-title {
  max-height: 62px;
  overflow: hidden;
  margin-bottom: 6px;
}
#timetable .timetable-course-time {
  font-size: 11px;
  line-height: 1.3;
  margin-bottom: 8px;
  opacity: .75;
}
#timetable .timetable-course-users {
  font-size: 11px;
  line-height: 1.3;
  opacity: .75;
}
#timetable .timetable-course-room {
  font-size: 11px;
  line-height: 1.3;
  opacity: .75;
}
#timetable .timetable-course-menu-item {
  cursor: pointer;
}
#timetable #timetableFullWidthContainer {
  min-width: 800px;
}
#timetable .timetable-day {
  float: left;
}
#timetable .timetable-times {
  width: 99px;
  float: left;
}
#timetable #timetableScrollableContainer {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
#timetable .stack-outer .stack-inner {
  position: absolute;
  width: 100%;
}
#timetable [class="row"] {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#timetable [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 10px;
}
#overlapsTable th {
  padding: 4px 8px;
  vertical-align: top;
}
#overlapsTable td {
  padding: 4px 8px;
  min-width: 105px;
}
#overlapsTable td:first-child,
#overlapsTable th:first-child {
  background-color: #EEE;
  min-width: 200px;
  width: 200px;
}
.listView {
  padding: 0;
  margin-right: 1px;
  margin-top: 15px;
}
.listView .listView-item {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  margin: 0 -15px;
  background-color: white;
}
.listView .listView-item:nth-child(odd) {
  background-color: #EEE;
}
.listView .listView-item .listView-item-info {
  flex: 1 1 1px;
}
.listView .listView-item .listView-item-commands {
  flex: none;
  align-self: flex-start;
  margin-left: 8px;
}
.listView .listView-item .listView-item-subtitle {
  color: rgba(47, 79, 79, 0.7);
  font-weight: bold;
}
.listView .listView-item .listView-item-subsubtitle {
  color: rgba(47, 79, 79, 0.6);
}
.listView .listView-item p {
  margin: 0;
  padding: 0;
}
.categoryListView {
  padding: 0;
  margin-right: 1px;
  margin-top: 15px;
}
.categoryListView .categoryListView-item {
  display: flex;
  flex-flow: row wrap;
  padding: 0 15px 0 0;
  margin: 0 -15px;
  background-color: #CCC;
}
.categoryListView .categoryListView-item:nth-child(odd) {
  background-color: #BBB;
}
.categoryListView .categoryListView-item:last-child {
  background-color: #EEE;
}
.categoryListView .categoryListView-item .categoryListView-subcategory-list {
  margin-left: 15px;
  padding-left: 7px;
  border-left: 8px solid rgba(47, 79, 79, 0.4);
}
.categoryListView .categoryListView-item .categoryListView-subcategory {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 5px 0;
  cursor: pointer;
  font-weight: bold;
}
.categoryListView .categoryListView-item .categoryListView-item-info {
  flex: 1 1 1px;
}
  cursor: pointer;
}
.categoryListView .categoryListView-item .categoryListView-item-commands {
  flex: none;
  align-self: flex-start;
  margin-left: 8px;
}
.categoryListView .categoryListView-item .categoryListView-item-title {
  font-weight: bold;
  padding: 5px 0 5px 7px;
  border-left: 8px solid rgba(47, 79, 79, 0.8);
}
.categoryListView .categoryListView-item .categoryListView-item-subtitle {
  color: rgba(47, 79, 79, 0.7);
  font-weight: bold;
}
.categoryListView .categoryListView-item .categoryListView-item-subsubtitle {
  color: rgba(47, 79, 79, 0.6);
}
.categoryListView .categoryListView-item p {
  margin: 0;
  padding: 0;
}
.nameSuggestionButton {
  margin-right: 8px;
}
.userListItem:after {
  content: ", ";
}
.userListItem:last-child:after {
  content: none;
}
.share-button {
  margin-top: 10px;
}
@keyframes fadeOut {
  from {
    height: 20px;
    opacity: 1;
  }
  to {
    height: 0px;
    opacity: 0;
  }
}
.error {
  color: red;
  margin: 4px 0;
  overflow: hidden;
  padding-left: 6px;
  border-left: 4px solid red;
  height: 0px;
  opacity: 0;
  transition: height .5s, opacity .5s;
  transition-timing-function: ease-out;
}
.error:not(:empty) {
  height: 20px;
  opacity: 1;
}
/**
    Custom icons
*/
.glyphicon-messenger:before {
  background-image: url("/images/messenger.png");
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
  content: "";
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  position: relative;
  line-height: 1;
  font-size: 12px;
}
.sk-cube-grid {
  width: 20px;
  height: 20px;
  margin: 100px auto;
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: black;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
code {
  cursor: text;
  -webkit-touch-callout: initial;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.modern-ui body {
  background-color: #F2F2F2;
}
.modern-ui .wrapper {
  min-height: 100%;
  position: relative;
}
.modern-ui .body-content {
  width: 90%;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 100px;
}
.modern-ui footer {
  background-color: #e5e5e5;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
}
.modern-ui footer .container {
  width: 90%;
  margin: 0 auto;
}
.modern-ui .navbar {
  background-color: darkslategrey;
  border: none;
}
.modern-ui .navbar .container {
  width: 90%;
  margin: 0 auto;
}
.modern-ui .navbar .nav a {
  color: white;
}
.modern-ui .navbar .nav a:hover {
  background-color: #1c2f2f;
}
.modern-ui .navbar .nav a:focus {
  background-color: #1c2f2f;
}
.modern-ui .navbar a {
  color: white;
}
.modern-ui .navbar .navbar-toggle {
  border: none;
}
.modern-ui .navbar .navbar-toggle .icon-bar {
  border: 1px solid white;
  border-radius: 0;
}
.modern-ui .btn {
  border: 2px solid transparent;
  border-radius: 0;
  color: black;
  background-color: #CCCCCC;
  padding: 3px 12px;
  transition: transform .2s;
  box-shadow: none;
}
.modern-ui .btn:hover:enabled {
  background-color: #CCCCCC;
  color: black;
  border: 2px solid #737373;
}
.modern-ui .btn:active:enabled {
  outline: none;
  transform: scale(0.95);
  transition: transform .2s;
  background-color: #949494;
}
.modern-ui .btn:focus {
  outline: none;
  color: black;
  border: 2px dotted #737373;
  background-color: #CCCCCC;
}
.modern-ui .btn:disabled {
  background-color: #CCCCCC;
  color: rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
  cursor: default;
}
.modern-ui .btn-primary {
  border: 2px solid transparent;
  border-radius: 0;
  color: white;
  background-color: darkslategrey;
  padding: 3px 12px;
  transition: transform .2s;
  box-shadow: none;
}
.modern-ui .btn-primary:hover:enabled {
  background-color: darkslategrey;
  color: white;
  border: 2px solid #000000;
}
.modern-ui .btn-primary:active:enabled {
  outline: none;
  transform: scale(0.95);
  transition: transform .2s;
  background-color: #050909;
}
.modern-ui .btn-primary:focus {
  outline: none;
  color: white;
  border: 2px dotted #000000;
  background-color: darkslategrey;
}
.modern-ui .btn-primary:disabled {
  background-color: darkslategrey;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid transparent;
  cursor: default;
}
.modern-ui .btn-popover {
  border: 2px solid transparent;
  border-radius: 0;
  color: black;
  background-color: #CCCCCC;
  padding: 3px 12px;
  transition: transform .2s;
  box-shadow: none;
  width: 100%;
  margin-top: 4px;
}
.modern-ui .btn-popover:hover:enabled {
  background-color: #CCCCCC;
  color: black;
  border: 2px solid #737373;
}
.modern-ui .btn-popover:active:enabled {
  outline: none;
  transform: scale(0.95);
  transition: transform .2s;
  background-color: #949494;
}
.modern-ui .btn-popover:focus {
  outline: none;
  color: black;
  border: 2px dotted #737373;
  background-color: #CCCCCC;
}
.modern-ui .btn-popover:disabled {
  background-color: #CCCCCC;
  color: rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
  cursor: default;
}
.modern-ui .modal-content {
  border-radius: 0;
}
.modern-ui .modal-header {
  padding: 0;
  border: 0;
  background-color: darkslategrey;
  color: white;
  overflow: auto;
  display: flex;
}
.modern-ui .modal-header .close {
  color: white;
  opacity: 1;
  width: 50px;
  font-weight: lighter;
}
.modern-ui .modal-header .close:hover {
  background-color: #090f0f;
}
.modern-ui .modal-header .close:active {
  background-color: #1c2f2f;
}
.modern-ui .modal-header h4 {
  margin: 5px 15px;
  flex: auto;
}
.modern-ui .modal-footer {
  border: 0;
  background-color: #EEE;
  padding: 10px 15px;
  margin-right: 1px;
}
.modern-ui .modal-header {
  border-radius: 0;
}
.modern-ui #datesDialog .modal-dialog {
  width: 70%;
  max-width: 1000px;
}
.modern-ui .list-group-item {
  border-color: darkslategrey;
  border-width: 0 0 0 0;
  border-radius: 0;
  border-style: solid;
  padding: 15px;
  margin: 0 -15px;
}
.modern-ui .list-group-item:nth-child(odd) {
  background-color: #EEE;
}
.modern-ui input,
.modern-ui select {
  height: 30px;
  padding-left: 2px;
  border: 1px solid #707070;
}
.modern-ui .glyphicon {
  top: 2px;
  margin-right: 4px;
}
.modern-ui .popover {
  border-radius: 0px;
}
.modern-ui .popover .popover-content {
  padding: 8px;
}
.modern-ui .popover .popover-title {
  padding: 8px;
  color: darkslategrey;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-top: 4px solid darkslategrey;
}
/*CSS Hack for Firefox (everything in this block is only available in Firefox)
    needed becauase firefox needs width property -moz-available to display popover btn correctly
*/
body:not(:-moz-handler-blocked) .btn {
  border: 2px solid transparent;
  border-radius: 0;
  color: black;
  background-color: #CCCCCC;
  padding: 3px 12px;
  transition: transform .2s;
  box-shadow: none;
}
body:not(:-moz-handler-blocked) .btn:hover:enabled {
  background-color: #CCCCCC;
  color: black;
  border: 2px solid #737373;
}
body:not(:-moz-handler-blocked) .btn:active:enabled {
  outline: none;
  transform: scale(0.95);
  transition: transform .2s;
  background-color: #949494;
}
body:not(:-moz-handler-blocked) .btn:focus {
  outline: none;
  color: black;
  border: 2px dotted #737373;
  background-color: #CCCCCC;
}
body:not(:-moz-handler-blocked) .btn:disabled {
  background-color: #CCCCCC;
  color: rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
}
body:not(:-moz-handler-blocked) .btn-primary {
  border: 2px solid transparent;
  border-radius: 0;
  color: white;
  background-color: darkslategrey;
  padding: 3px 12px;
  transition: transform .2s;
  box-shadow: none;
}
body:not(:-moz-handler-blocked) .btn-primary:hover:enabled {
  background-color: darkslategrey;
  color: white;
  border: 2px solid #000000;
}
body:not(:-moz-handler-blocked) .btn-primary:active:enabled {
  outline: none;
  transform: scale(0.95);
  transition: transform .2s;
  background-color: #050909;
}
body:not(:-moz-handler-blocked) .btn-primary:focus {
  outline: none;
  color: white;
  border: 2px dotted #000000;
  background-color: darkslategrey;
}
body:not(:-moz-handler-blocked) .btn-primary:disabled {
  background-color: darkslategrey;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid transparent;
}
body:not(:-moz-handler-blocked) .btn-popover {
  border: 2px solid transparent;
  border-radius: 0;
  color: black;
  background-color: #CCCCCC;
  padding: 3px 12px;
  transition: transform .2s;
  box-shadow: none;
  width: -moz-available;
  margin-top: 4px;
}
body:not(:-moz-handler-blocked) .btn-popover:hover:enabled {
  background-color: #CCCCCC;
  color: black;
  border: 2px solid #737373;
}
body:not(:-moz-handler-blocked) .btn-popover:active:enabled {
  outline: none;
  transform: scale(0.95);
  transition: transform .2s;
  background-color: #949494;
}
body:not(:-moz-handler-blocked) .btn-popover:focus {
  outline: none;
  color: black;
  border: 2px dotted #737373;
  background-color: #CCCCCC;
}
body:not(:-moz-handler-blocked) .btn-popover:disabled {
  background-color: #CCCCCC;
  color: rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
}