body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#timetable {
    margin: 20px;
    .generate-rows(48);

    .generate-rows(@n, @i: 0) when (@i =< @n) {
        .timetable-row-@{i} {
            height: (@i * 50px);
        }

        .timetable-row-course-@{i} {
            height: (@i * 50px) - 5px;
        }

        .generate-rows(@n, (@i + 1));
    }

    .timetable-times > :first-child {
        visibility: hidden;
    }

    .timetable-header {
        background-color: darkslategrey;
        color: white;
        text-align: center;
        border-style: solid;
        border-width: 1px;
    }

    .timetable-header-day {
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
    }

    .timetable-row-container-row {
        padding-left: 5px;

        > [class*="timetable-row-"] {
            float: left;
        }
    }

    .timetable-cell {
        border-style: solid;
        border-width: 1px;
        border-top: transparent;
        border-left: transparent;
    }

    .timetable-course {
        background-color: orange;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 5px;
        padding: 5px;
    }

    .timetable-course-title {

    }

    .timetable-course-time {
        font-size: 12px;
        line-height: 1.2;
        padding-bottom: 2px;
    }

    .stack-outer {
        .stack-inner {
            position: absolute;
            width: 100%;
        }
    }
    // Override bootstrap default values
    [class="row"] {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    [class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-bottom: 10px;
    }
}
