body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
  max-width: 280px;
}
/* Carousel */
.carousel-caption {
  z-index: 10 !important;
}
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .carousel-caption {
    z-index: 10 !important;
  }
}
#timetable {
  margin: 20px;
}
#timetable .timetable-row-0 {
  height: 0px;
}
#timetable .timetable-row-1 {
  height: 50px;
}
#timetable .timetable-row-2 {
  height: 100px;
}
#timetable .timetable-row-3 {
  height: 150px;
}
#timetable .timetable-row-4 {
  height: 200px;
}
#timetable .timetable-row-5 {
  height: 250px;
}
#timetable .timetable-row-6 {
  height: 300px;
}
#timetable .timetable-row-7 {
  height: 350px;
}
#timetable .timetable-row-8 {
  height: 400px;
}
#timetable .timetable-row-9 {
  height: 450px;
}
#timetable .timetable-row-10 {
  height: 500px;
}
#timetable .timetable-row-11 {
  height: 550px;
}
#timetable .timetable-row-12 {
  height: 600px;
}
#timetable .timetable-row-13 {
  height: 650px;
}
#timetable .timetable-row-14 {
  height: 700px;
}
#timetable .timetable-row-15 {
  height: 750px;
}
#timetable .timetable-row-16 {
  height: 800px;
}
#timetable .timetable-row-17 {
  height: 850px;
}
#timetable .timetable-row-18 {
  height: 900px;
}
#timetable .timetable-row-19 {
  height: 950px;
}
#timetable .timetable-row-20 {
  height: 1000px;
}
#timetable .timetable-row-21 {
  height: 1050px;
}
#timetable .timetable-row-22 {
  height: 1100px;
}
#timetable .timetable-row-23 {
  height: 1150px;
}
#timetable .timetable-row-24 {
  height: 1200px;
}
#timetable .timetable-row-25 {
  height: 1250px;
}
#timetable .timetable-row-26 {
  height: 1300px;
}
#timetable .timetable-row-27 {
  height: 1350px;
}
#timetable .timetable-row-28 {
  height: 1400px;
}
#timetable .timetable-row-29 {
  height: 1450px;
}
#timetable .timetable-row-30 {
  height: 1500px;
}
#timetable .timetable-row-31 {
  height: 1550px;
}
#timetable .timetable-row-32 {
  height: 1600px;
}
#timetable .timetable-row-33 {
  height: 1650px;
}
#timetable .timetable-row-34 {
  height: 1700px;
}
#timetable .timetable-row-35 {
  height: 1750px;
}
#timetable .timetable-row-36 {
  height: 1800px;
}
#timetable .timetable-row-37 {
  height: 1850px;
}
#timetable .timetable-row-38 {
  height: 1900px;
}
#timetable .timetable-row-39 {
  height: 1950px;
}
#timetable .timetable-row-40 {
  height: 2000px;
}
#timetable .timetable-row-41 {
  height: 2050px;
}
#timetable .timetable-row-42 {
  height: 2100px;
}
#timetable .timetable-row-43 {
  height: 2150px;
}
#timetable .timetable-row-44 {
  height: 2200px;
}
#timetable .timetable-row-45 {
  height: 2250px;
}
#timetable .timetable-row-46 {
  height: 2300px;
}
#timetable .timetable-row-47 {
  height: 2350px;
}
#timetable .timetable-row-48 {
  height: 2400px;
}
#timetable .timetable-times > :first-child {
  visibility: hidden;
}
#timetable .timetable-header {
  background-color: darkslategrey;
  color: white;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}
#timetable .timetable-header-day {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}
#timetable .timetable-row-container-row {
  padding-left: 5px;
}
#timetable .timetable-row-container-row > [class*="timetable-row-"] {
  float: left;
}
#timetable .timetable-cell {
  border-style: solid;
  border-width: 1px;
  border-top: transparent;
  border-left: transparent;
}
#timetable .timetable-class {
  background-color: orange;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
  padding: 5px;
}
#timetable .stack-outer .stack-inner {
  position: absolute;
  width: 100%;
}
#timetable [class="row"] {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#timetable [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 10px;
}