body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F2F2F2;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#searchCourseModal {
    #searchCourseModal-input {
        width: 100%;
    }

    #searchCourseModal-courseList {
        margin-top: 20px;
        margin-right: 20px;
    }
}

#timetable {
    margin: 20px 0 0 0;
    .generate-rows(48);

    .generate-rows(@n, @i: 0) when (@i =< @n) {
        .timetable-row-@{i} {
            height: (@i * 50px);
        }

        .timetable-row-course-@{i} {
            height: (@i * 50px) - 5px;
        }

        .generate-rows(@n, (@i + 1));
    }

    .timetable-header {
        background-color: darkslategrey;
        color: white;
        text-align: center;
        border-style: solid;
        border-width: 0 0 1px 0;
    }

    .timetable-header-day {
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
    }

    .timetable-row-container-row {
        padding-left: 5px;

        > [class*="timetable-row-"] {
            float: left;
        }
    }

    .timetable-cell {
        border-style: solid;
        border-width: 1px;
        border-top: transparent;
        border-left: transparent;
    }

    .timetable-course {
        background-color: orange;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 5px;
        padding: 5px;

        .timetable-course-dropdown {
            top: 0px;
        }

        .timetable-course-info-container {
            height: 100%;
        }

        .timetable-course-info {
            height: 100%;
        }
    }

    .timetable-course-title {
    }

    .timetable-course-time {
        font-size: 12px;
        line-height: 1.2;
        padding-bottom: 2px;
    }

    .timetable-course-delete {
        cursor: pointer;
    }

    .stack-outer {
        .stack-inner {
            position: absolute;
            width: 100%;
        }
    }
    // Override bootstrap default values
    [class="row"] {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    [class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-bottom: 10px;
    }
}

.searchCourseModal-course {
    .searchCourseModal-course-add {
        float: right;
    }

    .searchCourseModal-course-shortName {
        font-style: italic;
        color: darkgrey;
    }
}

.modern-ui {
    @accentColor: #0078D7; // PAUL original: #000099;
    @accentForegroundColor: white;

    body {
        background-color: #F2F2F2;
    }

    .btn-base(@backgroundColor : #CCCCCC, @foregroundColor : black) {
        border: 2px solid transparent;
        border-radius: 0;
        color: @foregroundColor;
        background-color: @backgroundColor;
        padding: 3px 12px;
        transition: transform .2s;
        box-shadow: none;

        &:hover:enabled {
            background-color: @backgroundColor;
            color: @foregroundColor;
            border: 2px solid darken(@backgroundColor, 35%);
        }

        &:active:enabled {
            outline: none;
            transform: scale(.95);
            transition: transform .2s;
            background-color: darken(@backgroundColor, 22%);
        }

        &:focus {
            outline: none;
            color: @foregroundColor;
            border: 2px dotted darken(@backgroundColor, 35%);
            background-color: @backgroundColor;
        }

        &:disabled {
            background-color: @backgroundColor;
            color: fadeout(@foregroundColor, 50%);
        }
    }

    .btn {
        .btn-base();
    }

    .btn-primary {
        .btn-base(@accentColor, @accentForegroundColor);
    }

    .modal-content {
        border-radius: 0;
    }

    .modal-header {
        padding: 0;
        border: 0;
        background-color: @accentColor;
        color: @accentForegroundColor;
        overflow: auto;
        display: flex;

        .close {
            color: @accentForegroundColor;
            opacity: 1;
            width: 50px;
            font-weight: lighter;

            &:hover {
                background-color: darken(@accentColor, 20%);
            }

            &:active {
                background-color: darken(@accentColor, 10%);
            }
        }

        h4 {
            margin: 5px 15px;
            flex: auto;
        }
    }

    .modal-footer {
        border: 0;
    }

    .modal-header {
        border-radius: 0;
    }

    input {
        height: 30px;
        padding-bottom: 3px;
    }
}