body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #F2F2F2;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding: 15px;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
  max-width: 280px;
}
/* Carousel */
.carousel-caption {
  z-index: 10 !important;
}
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .carousel-caption {
    z-index: 10 !important;
  }
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
#searchCourseModal #searchCourseModal-input {
  width: 100%;
}
#searchCourseModal #searchCourseModal-courseList {
  margin-top: 15px;
  margin-right: 1px;
}
#timetable {
  margin: 20px 0 0 0;
}
#timetable .timetable-row-0 {
  height: 0px;
}
#timetable .timetable-row-offset-0 {
  top: 0px;
}
#timetable .timetable-row-course-0 {
  height: -5px;
}
#timetable .timetable-row-1 {
  height: 50px;
}
#timetable .timetable-row-offset-1 {
  top: 50px;
}
#timetable .timetable-row-course-1 {
  height: 45px;
}
#timetable .timetable-row-2 {
  height: 100px;
}
#timetable .timetable-row-offset-2 {
  top: 100px;
}
#timetable .timetable-row-course-2 {
  height: 95px;
}
#timetable .timetable-row-3 {
  height: 150px;
}
#timetable .timetable-row-offset-3 {
  top: 150px;
}
#timetable .timetable-row-course-3 {
  height: 145px;
}
#timetable .timetable-row-4 {
  height: 200px;
}
#timetable .timetable-row-offset-4 {
  top: 200px;
}
#timetable .timetable-row-course-4 {
  height: 195px;
}
#timetable .timetable-row-5 {
  height: 250px;
}
#timetable .timetable-row-offset-5 {
  top: 250px;
}
#timetable .timetable-row-course-5 {
  height: 245px;
}
#timetable .timetable-row-6 {
  height: 300px;
}
#timetable .timetable-row-offset-6 {
  top: 300px;
}
#timetable .timetable-row-course-6 {
  height: 295px;
}
#timetable .timetable-row-7 {
  height: 350px;
}
#timetable .timetable-row-offset-7 {
  top: 350px;
}
#timetable .timetable-row-course-7 {
  height: 345px;
}
#timetable .timetable-row-8 {
  height: 400px;
}
#timetable .timetable-row-offset-8 {
  top: 400px;
}
#timetable .timetable-row-course-8 {
  height: 395px;
}
#timetable .timetable-row-9 {
  height: 450px;
}
#timetable .timetable-row-offset-9 {
  top: 450px;
}
#timetable .timetable-row-course-9 {
  height: 445px;
}
#timetable .timetable-row-10 {
  height: 500px;
}
#timetable .timetable-row-offset-10 {
  top: 500px;
}
#timetable .timetable-row-course-10 {
  height: 495px;
}
#timetable .timetable-row-11 {
  height: 550px;
}
#timetable .timetable-row-offset-11 {
  top: 550px;
}
#timetable .timetable-row-course-11 {
  height: 545px;
}
#timetable .timetable-row-12 {
  height: 600px;
}
#timetable .timetable-row-offset-12 {
  top: 600px;
}
#timetable .timetable-row-course-12 {
  height: 595px;
}
#timetable .timetable-row-13 {
  height: 650px;
}
#timetable .timetable-row-offset-13 {
  top: 650px;
}
#timetable .timetable-row-course-13 {
  height: 645px;
}
#timetable .timetable-row-14 {
  height: 700px;
}
#timetable .timetable-row-offset-14 {
  top: 700px;
}
#timetable .timetable-row-course-14 {
  height: 695px;
}
#timetable .timetable-row-15 {
  height: 750px;
}
#timetable .timetable-row-offset-15 {
  top: 750px;
}
#timetable .timetable-row-course-15 {
  height: 745px;
}
#timetable .timetable-row-16 {
  height: 800px;
}
#timetable .timetable-row-offset-16 {
  top: 800px;
}
#timetable .timetable-row-course-16 {
  height: 795px;
}
#timetable .timetable-row-17 {
  height: 850px;
}
#timetable .timetable-row-offset-17 {
  top: 850px;
}
#timetable .timetable-row-course-17 {
  height: 845px;
}
#timetable .timetable-row-18 {
  height: 900px;
}
#timetable .timetable-row-offset-18 {
  top: 900px;
}
#timetable .timetable-row-course-18 {
  height: 895px;
}
#timetable .timetable-row-19 {
  height: 950px;
}
#timetable .timetable-row-offset-19 {
  top: 950px;
}
#timetable .timetable-row-course-19 {
  height: 945px;
}
#timetable .timetable-row-20 {
  height: 1000px;
}
#timetable .timetable-row-offset-20 {
  top: 1000px;
}
#timetable .timetable-row-course-20 {
  height: 995px;
}
#timetable .timetable-row-21 {
  height: 1050px;
}
#timetable .timetable-row-offset-21 {
  top: 1050px;
}
#timetable .timetable-row-course-21 {
  height: 1045px;
}
#timetable .timetable-row-22 {
  height: 1100px;
}
#timetable .timetable-row-offset-22 {
  top: 1100px;
}
#timetable .timetable-row-course-22 {
  height: 1095px;
}
#timetable .timetable-row-23 {
  height: 1150px;
}
#timetable .timetable-row-offset-23 {
  top: 1150px;
}
#timetable .timetable-row-course-23 {
  height: 1145px;
}
#timetable .timetable-row-24 {
  height: 1200px;
}
#timetable .timetable-row-offset-24 {
  top: 1200px;
}
#timetable .timetable-row-course-24 {
  height: 1195px;
}
#timetable .timetable-row-25 {
  height: 1250px;
}
#timetable .timetable-row-offset-25 {
  top: 1250px;
}
#timetable .timetable-row-course-25 {
  height: 1245px;
}
#timetable .timetable-row-26 {
  height: 1300px;
}
#timetable .timetable-row-offset-26 {
  top: 1300px;
}
#timetable .timetable-row-course-26 {
  height: 1295px;
}
#timetable .timetable-row-27 {
  height: 1350px;
}
#timetable .timetable-row-offset-27 {
  top: 1350px;
}
#timetable .timetable-row-course-27 {
  height: 1345px;
}
#timetable .timetable-row-28 {
  height: 1400px;
}
#timetable .timetable-row-offset-28 {
  top: 1400px;
}
#timetable .timetable-row-course-28 {
  height: 1395px;
}
#timetable .timetable-row-29 {
  height: 1450px;
}
#timetable .timetable-row-offset-29 {
  top: 1450px;
}
#timetable .timetable-row-course-29 {
  height: 1445px;
}
#timetable .timetable-row-30 {
  height: 1500px;
}
#timetable .timetable-row-offset-30 {
  top: 1500px;
}
#timetable .timetable-row-course-30 {
  height: 1495px;
}
#timetable .timetable-row-31 {
  height: 1550px;
}
#timetable .timetable-row-offset-31 {
  top: 1550px;
}
#timetable .timetable-row-course-31 {
  height: 1545px;
}
#timetable .timetable-row-32 {
  height: 1600px;
}
#timetable .timetable-row-offset-32 {
  top: 1600px;
}
#timetable .timetable-row-course-32 {
  height: 1595px;
}
#timetable .timetable-row-33 {
  height: 1650px;
}
#timetable .timetable-row-offset-33 {
  top: 1650px;
}
#timetable .timetable-row-course-33 {
  height: 1645px;
}
#timetable .timetable-row-34 {
  height: 1700px;
}
#timetable .timetable-row-offset-34 {
  top: 1700px;
}
#timetable .timetable-row-course-34 {
  height: 1695px;
}
#timetable .timetable-row-35 {
  height: 1750px;
}
#timetable .timetable-row-offset-35 {
  top: 1750px;
}
#timetable .timetable-row-course-35 {
  height: 1745px;
}
#timetable .timetable-row-36 {
  height: 1800px;
}
#timetable .timetable-row-offset-36 {
  top: 1800px;
}
#timetable .timetable-row-course-36 {
  height: 1795px;
}
#timetable .timetable-row-37 {
  height: 1850px;
}
#timetable .timetable-row-offset-37 {
  top: 1850px;
}
#timetable .timetable-row-course-37 {
  height: 1845px;
}
#timetable .timetable-row-38 {
  height: 1900px;
}
#timetable .timetable-row-offset-38 {
  top: 1900px;
}
#timetable .timetable-row-course-38 {
  height: 1895px;
}
#timetable .timetable-row-39 {
  height: 1950px;
}
#timetable .timetable-row-offset-39 {
  top: 1950px;
}
#timetable .timetable-row-course-39 {
  height: 1945px;
}
#timetable .timetable-row-40 {
  height: 2000px;
}
#timetable .timetable-row-offset-40 {
  top: 2000px;
}
#timetable .timetable-row-course-40 {
  height: 1995px;
}
#timetable .timetable-row-41 {
  height: 2050px;
}
#timetable .timetable-row-offset-41 {
  top: 2050px;
}
#timetable .timetable-row-course-41 {
  height: 2045px;
}
#timetable .timetable-row-42 {
  height: 2100px;
}
#timetable .timetable-row-offset-42 {
  top: 2100px;
}
#timetable .timetable-row-course-42 {
  height: 2095px;
}
#timetable .timetable-row-43 {
  height: 2150px;
}
#timetable .timetable-row-offset-43 {
  top: 2150px;
}
#timetable .timetable-row-course-43 {
  height: 2145px;
}
#timetable .timetable-row-44 {
  height: 2200px;
}
#timetable .timetable-row-offset-44 {
  top: 2200px;
}
#timetable .timetable-row-course-44 {
  height: 2195px;
}
#timetable .timetable-row-45 {
  height: 2250px;
}
#timetable .timetable-row-offset-45 {
  top: 2250px;
}
#timetable .timetable-row-course-45 {
  height: 2245px;
}
#timetable .timetable-row-46 {
  height: 2300px;
}
#timetable .timetable-row-offset-46 {
  top: 2300px;
}
#timetable .timetable-row-course-46 {
  height: 2295px;
}
#timetable .timetable-row-47 {
  height: 2350px;
}
#timetable .timetable-row-offset-47 {
  top: 2350px;
}
#timetable .timetable-row-course-47 {
  height: 2345px;
}
#timetable .timetable-row-48 {
  height: 2400px;
}
#timetable .timetable-row-offset-48 {
  top: 2400px;
}
#timetable .timetable-row-course-48 {
  height: 2395px;
}
#timetable .timetable-header {
  background-color: darkslategrey;
  color: white;
  text-align: center;
  border-style: solid;
  border-width: 0 0 1px 0;
}
#timetable .timetable-header-day {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}
#timetable .timetable-row-container-row {
  padding-left: 5px;
}
#timetable .timetable-row-container-row > [class*="timetable-row-"] {
  float: left;
}
#timetable .timetable-cell {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-top: transparent;
  border-left: transparent;
}
#timetable .timetable-course {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
  padding: 5px;
}
#timetable .timetable-course .timetable-course-dropdown {
  top: 0px;
  padding-left: 5px;
}
#timetable .timetable-course .timetable-course-info-container {
  height: 100%;
}
#timetable .timetable-course .timetable-course-info {
  height: 100%;
}
#timetable .timetable-course-selected {
  background-color: orange;
}
#timetable .timetable-course-pending.timetable-course-discouraged {
  background-color: #F4A7A7;
}
#timetable .timetable-course-notpending.timetable-course-overlaps {
  background-color: #E19494;
}
#timetable .timetable-course-pending.timetable-course-notdiscouraged {
  background-color: #C9DFA6;
}
#timetable .timetable-course-pending {
  border: gray;
  border-width: 1px;
  border-style: dashed;
}
#timetable .timetable-course-notselected {
  background-color: lightgray;
}
#timetable .timetable-course-time {
  font-size: 12px;
  line-height: 1.2;
  padding-bottom: 2px;
}
#timetable .timetable-course-menu-item {
  cursor: pointer;
}
#timetable .stack-outer .stack-inner {
  position: absolute;
  width: 100%;
}
#timetable [class="row"] {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#timetable [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 10px;
}
.searchCourseModal-course {
  display: flex;
  flex-flow: row wrap;
}
.searchCourseModal-course .searchCourseModal-course-name {
  font-size: larger;
}
.searchCourseModal-course .searchCourseModal-course-info {
  flex: 1 1 1px;
}
.searchCourseModal-course .searchCourseModal-course-commands {
  flex: none;
  align-self: flex-start;
}
.searchCourseModal-course .searchCourseModal-course-add {
  margin-left: 8px;
}
.searchCourseModal-course .searchCourseModal-course-time {
  color: rgba(47, 79, 79, 0.7);
  font-weight: bold;
}
.searchCourseModal-course .searchCourseModal-course-shortName {
  color: rgba(47, 79, 79, 0.6);
}
.searchCourseModal-course p {
  margin: 0;
  padding: 0;
}
.nameSuggestionButton {
  margin-right: 8px;
}
.userListItem:after {
  content: ", ";
}
.userListItem:last-child:after {
  content: none;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.modern-ui body {
  background-color: #F2F2F2;
}
.modern-ui .wrapper {
  min-height: 100%;
  position: relative;
}
.modern-ui .body-content {
  width: 90%;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 100px;
}
.modern-ui footer {
  background-color: #e5e5e5;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
}
.modern-ui footer .container {
  width: 90%;
  margin: 0 auto;
}
.modern-ui .navbar {
  background-color: darkslategrey;
  border: none;
}
.modern-ui .navbar .container {
  width: 90%;
  margin: 0 auto;
}
.modern-ui .navbar .nav a {
  color: white;
}
.modern-ui .navbar .nav a:hover {
  background-color: #1c2f2f;
}
.modern-ui .navbar .nav a:focus {
  background-color: #1c2f2f;
}
.modern-ui .navbar a {
  color: white;
}
.modern-ui .navbar .navbar-toggle {
  border: none;
}
.modern-ui .navbar .navbar-toggle .icon-bar {
  border: 1px solid white;
  border-radius: 0;
}
.modern-ui .btn {
  border: 2px solid transparent;
  border-radius: 0;
  color: black;
  background-color: #CCCCCC;
  padding: 3px 12px;
  transition: transform .2s;
  box-shadow: none;
}
.modern-ui .btn:hover:enabled {
  background-color: #CCCCCC;
  color: black;
  border: 2px solid #737373;
}
.modern-ui .btn:active:enabled {
  outline: none;
  transform: scale(0.95);
  transition: transform .2s;
  background-color: #949494;
}
.modern-ui .btn:focus {
  outline: none;
  color: black;
  border: 2px dotted #737373;
  background-color: #CCCCCC;
}
.modern-ui .btn:disabled {
  background-color: #CCCCCC;
  color: rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
}
.modern-ui .btn-primary {
  border: 2px solid transparent;
  border-radius: 0;
  color: white;
  background-color: darkslategrey;
  padding: 3px 12px;
  transition: transform .2s;
  box-shadow: none;
}
.modern-ui .btn-primary:hover:enabled {
  background-color: darkslategrey;
  color: white;
  border: 2px solid #000000;
}
.modern-ui .btn-primary:active:enabled {
  outline: none;
  transform: scale(0.95);
  transition: transform .2s;
  background-color: #050909;
}
.modern-ui .btn-primary:focus {
  outline: none;
  color: white;
  border: 2px dotted #000000;
  background-color: darkslategrey;
}
.modern-ui .btn-primary:disabled {
  background-color: darkslategrey;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid transparent;
}
.modern-ui .modal-content {
  border-radius: 0;
}
.modern-ui .modal-header {
  padding: 0;
  border: 0;
  background-color: darkslategrey;
  color: white;
  overflow: auto;
  display: flex;
}
.modern-ui .modal-header .close {
  color: white;
  opacity: 1;
  width: 50px;
  font-weight: lighter;
}
.modern-ui .modal-header .close:hover {
  background-color: #090f0f;
}
.modern-ui .modal-header .close:active {
  background-color: #1c2f2f;
}
.modern-ui .modal-header h4 {
  margin: 5px 15px;
  flex: auto;
}
.modern-ui .modal-footer {
  border: 0;
  background-color: #EEE;
  padding: 10px 15px;
  margin-right: 1px;
}
.modern-ui .modal-header {
  border-radius: 0;
}
.modern-ui .list-group-item {
  border-color: darkslategrey;
  border-width: 0 0 0 0;
  border-radius: 0;
  border-style: solid;
  padding: 15px;
  margin: 0 -15px;
}
.modern-ui .list-group-item:nth-child(odd) {
  background-color: #EEE;
}
.modern-ui input,
.modern-ui select {
  height: 30px;
  padding-bottom: 3px;
  border: 1px solid #707070;
}
.modern-ui .glyphicon {
  top: 2px;
  margin-right: 4px;
}