@using System.Threading.Tasks
@using ProjectPaula.Model.CalendarExport
@using ProjectPaula.Util
<div id="joinDialog" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Stundenplan öffnen</h4>
                <button type="button" class="close"
                        ng-if="vm.sync.User.State == 'JoiningSchedule'"
                        ng-disabled="vm.props.IsBusy"
                        ng-click="exitSchedule()"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <button type="button" class="close"
                        ng-if="vm.sync.User.State != 'JoiningSchedule'"
                        ng-disabled="vm.props.IsBusy"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="error">{{vm.sync.User.Errors.ScheduleJoinMessage}}</p>
                
                <div ng-if="vm.sync.User.State == 'Default'">
                    <div id="joinDialogScheduleIdSection">
                        <p>Gib den eindeutigen Bezeichner des Stundenplans ein, den du öffnen möchtest.</p>
                        <input type="text" ng-model="vm.props.ScheduleId" paula-enter="beginJoinSchedule(vm.props.ScheduleId)" placeholder="Stundenplan-ID" />
                        <button type="button" class="btn btn-primary"
                                ng-click="beginJoinSchedule(vm.props.ScheduleId)"
                                ng-disabled="vm.props.ScheduleId == '' || vm.props.IsBusy">
                            Öffnen
                        </button>
                    </div>

                    <!-- Recently opened schedules -->
                    <h4 style="margin-top: 15px">Bereits verwendete Stundenpläne</h4>
                    
                    <p ng-if="vm.props.IsBusy">Einen Augenblick...</p>
                    <p ng-if="!vm.props.IsBusy && vm.props.VisitedSchedules.length == 0">
                        Anscheinend hast du noch keinen Stundenplan geöffnet.
                        Erstelle einen neuen Stundenplan oder lasse dir von einem Kommilitonen einen Link schicken,
                        damit ihr gemeinsam an einem Stundenplan arbeiten könnt.
                    </p>

                    <ul class="listView">
                        <li class="listView-item" ng-repeat="scheduleMetadata in vm.props.VisitedSchedules">
                            <div class="listView-item-info">
                                <p class="listView-item-title">{{scheduleMetadata.Title}}</p>
                                <p class="listView-item-subtitle">Mit {{scheduleMetadata.Users}}</p>
                            </div>
                            <div class="listView-item-commands">
                                <button type="button" class="btn btn-primary listView-item-button"
                                        ng-click="beginJoinSchedule(scheduleMetadata.Id)"
                                        ng-disabled="vm.props.IsBusy">
                                    Öffnen
                                </button>
                                <button type="button" class="btn listView-item-button"
                                        ng-click="removeSchedule(scheduleMetadata.Id)"
                                        ng-disabled="vm.props.IsBusy">
                                    Löschen
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>

                <div ng-if="vm.sync.User.State == 'JoiningSchedule'">
                    <!-- If there are any user name suggestions -->
                    <div ng-if="vm.sync.SharedSchedule.AvailableUserNames.length > 0" style="margin-bottom: 8px;">
                        <h4>Ich habe bereits an dem Stundenplan gearbeitet</h4>
                        <p>Falls du diesen Stundenplan schon einmal bearbeitet hast, wähle deinen Namen aus dieser Liste</p>
                        <p>
                            <button type="button" class="btn nameSuggestionButton"
                                    ng-repeat="name in vm.sync.SharedSchedule.AvailableUserNames"
                                    ng-click="completeJoinSchedule(name)"
                                    ng-disabled="vm.props.IsBusy">
                                {{name}}
                            </button>
                        </p>
                    </div>
                    <!-- Text field for new name -->
                    <h4 ng-if="vm.sync.SharedSchedule.AvailableUserNames.length > 0" style="margin-top: 15px">Ich öffne den Stundenplan zum ersten Mal</h4>
                    <h4 ng-if="vm.sync.SharedSchedule.AvailableUserNames.length == 0">Dein Vorname</h4>
                    <p>Gib deinen Vornamen ein, damit wir deine gewählten Kurse von denen deiner Freunde unterscheiden können, falls sie an dem Stundenplan mitarbeiten.</p>
                    <input type="text" ng-model="vm.props.UserName" paula-enter="completeJoinSchedule(vm.props.UserName)" placeholder="Dein Vorname" focus-on="nameInput"/>
                </div>

                <div ng-if="vm.sync.User.State == 'JoinedSchedule'">
                    <h4>Alles bereit {{vm.sync.User.Name}}, viel Spaß beim Planen deines Stundenplans.</h4>
                    <p>Lade Kommilitonen ein, um gemeinsam am Stundenplan zu arbeiten. Eure Änderungen werden sofort synchronisiert. Sende ihnen einfach folgenden Link:</p>
                    @{
                        var scheduleUrl = UrlGeneratorUtil.GenerateScheduleUrl("{{vm.sync.SharedSchedule.Id}}");
                    }
                    <code id="shareLinkInJoin">@scheduleUrl</code>
                    <br />
                    <button type="button" class="btn share-button" ngclipboard data-clipboard-target="#shareLinkInJoin">
                        <span aria-hidden="true" class="glyphicon glyphicon-copy"></span> In Zwischenablage kopieren
                    </button>
                    <a href="@UrlGeneratorUtil.GenerateFacebookMessageUrl(scheduleUrl)" type="button" target="_blank" class="btn share-button">
                        <span aria-hidden="true" class="glyphicon glyphicon-messenger"></span> Über Facebook versenden
                    </a>

                    <h4>Hinweis bezüglich Cookies</h4>
                    <p>
                        Wir verwenden Cookies, um zu speichern, welche Stundenpläne du geöffnet hast (nur so können wir PAULa ohne Registrierung anbieten).
                        Damit du auch noch auf die Stundenpläne zugreifen kannst, wenn die Cookies mal gelöscht werden, empfehlen wir,
                        diese Seite in deinem Browser <strong>zusätzlich als Favorit zu speichern</strong>
                    </p>

                    <h4>Hinweis zur Anmeldung in PAUL</h4>
                    <p>
                        Die Belegung eines Kurses in PAULa ersetzt <b>nicht</b> die tatsächliche Anmeldung in PAUL.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        ng-if="vm.sync.User.State == 'JoiningSchedule'"
                        ng-click="completeJoinSchedule(vm.props.UserName)"
                        ng-disabled="vm.props.UserName == '' || vm.props.IsBusy">
                    Diesen Namen verwenden
                </button>
                <button type="button" class="btn"
                        ng-if="vm.sync.User.State == 'Default'"
                        ng-disabled="vm.props.IsBusy"
                        data-dismiss="modal">
                    Abbrechen
                </button>
                <button type="button" class="btn"
                        ng-if="vm.sync.User.State == 'JoiningSchedule'"
                        ng-click="exitSchedule()"
                        ng-disabled="vm.props.IsBusy"
                        data-dismiss="modal">
                    Abbrechen
                </button>
                <button type="button" class="btn btn-primary"
                        ng-if="vm.sync.User.State == 'JoinedSchedule'"
                        ng-disabled="vm.props.IsBusy"
                        data-dismiss="modal">
                    Jetzt loslegen
                </button>
            </div>
        </div>
    </div>
</div>