@using System.Threading.Tasks
@using ProjectPaula.Model.CalendarExport
<div id="joinDialog" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Stundenplan öffnen</h4>
            </div>
            <div class="modal-body">
                <div ng-if="vm.sync.User.State == 'Default'">
                    <p>Gib den eindeutigen Bezeichner des Stundenplans ein, den du öffnen möchtest</p>
                    <input type="text" ng-model="vm.props.ScheduleId" paula-enter="beginJoinSchedule(vm.props.ScheduleId)" placeholder="Stundenplan-ID" />
                </div>
                <div ng-if="vm.sync.User.State == 'JoiningSchedule'">
                    <!-- If there are any user name suggestions -->
                    <div ng-if="vm.sync.SharedSchedule.AvailableUserNames.length > 0" style="margin-bottom: 8px;">
                        <h4>Ich habe bereits an dem Stundenplan gearbeitet</h4>
                        <p>Falls du diesen Stundenplan schon einmal bearbeitet hast, wähle deinen Namen aus dieser Liste</p>
                        <p>
                            <button ng-repeat="name in vm.sync.SharedSchedule.AvailableUserNames"
                                    type="button" class="btn nameSuggestionButton" ng-click="completeJoinSchedule(name)">
                                {{name}}
                            </button>
                        </p>
                    </div>

                    <!-- Text field for new name -->
                    <h4 ng-if="vm.sync.SharedSchedule.AvailableUserNames.length > 0">Ich öffne den Stundenplan zum ersten Mal</h4>
                    <h4 ng-if="vm.sync.SharedSchedule.AvailableUserNames.length == 0">Dein Vorname</h4>
                    <p>Gib deinen Vornamen ein, damit wir deine gewählten Kurse von denen deiner Freunde unterscheiden können, falls sie an dem Stundenplan mitarbeiten.</p>
                    <input type="text" ng-model="vm.props.UserName" paula-enter="completeJoinSchedule(vm.props.UserName)" placeholder="Dein Vorname" />
                </div>
                <div ng-if="vm.sync.User.State == 'JoinedSchedule'">
                    <h4>Alles bereit {{vm.sync.User.Name}}, viel Spaß beim Planen deines Stundenplans.</h4>
                    <p>Lade Kommilitonen ein, um gemeinsam am Stundenplan zu arbeiten, indem du ihnen folgenden Link sendest:</p>
                    @{
                        var request = HttpHelper.HttpContext.Request;
                        var scheme = request.Scheme;
                        var host = request.Host;
                    }
                    <code>@scheme://@host/?ScheduleId={{vm.sync.SharedSchedule.Id}}</code>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-if="vm.sync.User.State == 'Default'" type="button" class="btn btn-primary" ng-click="beginJoinSchedule(vm.props.ScheduleId)" ng-disabled="vm.props.ScheduleId == ''">Öffnen</button>
                <button ng-if="vm.sync.User.State == 'JoiningSchedule'" type="button" class="btn btn-primary" ng-click="completeJoinSchedule(vm.props.UserName)" ng-disabled="vm.props.UserName == ''">Diesen Namen verwenden</button>
                <button ng-if="vm.sync.User.State != 'JoinedSchedule'" type="button" class="btn" ng-click="exitSchedule()" data-dismiss="modal">Abbrechen</button>
                <button ng-if="vm.sync.User.State == 'JoinedSchedule'" type="button" class="btn btn-primary" data-dismiss="modal">Jetzt loslegen</button>
            </div>
        </div>
    </div>
</div>