<script id="courseDialog.html" type="text/ng-template">
    <!-- Course dialog -->
    <div id="courseDialog" ng-click="$event.stopPropagation()">
        <p class="listView-item-subtitle">{{::vm.props.SelectedCourse.Time}}</p>
        <p class="listView-item-subtitle" ng-if="::vm.props.SelectedCourse.Users.length > 0">
            Belegt von: {{::vm.props.SelectedCourse.Users.join(", ")}}
        </p>
        <div ng-if="::!vm.props.SelectedCourse.IsTutorial">
            <p class="listView-item-subtitle" ng-if="::vm.props.SelectedCourse.Docent">Dozent: {{::vm.props.SelectedCourse.Docent}}</p>
            <p class="listView-item-subtitle">Nummer: <a href="{{::vm.props.SelectedCourse.Url}}" target="_blank">{{::vm.props.SelectedCourse.InternalCourseId}}</a></p>
        </div>

        <div ng-if="::vm.props.SelectedCourse.IsTutorial">            
            <p class="listView-item-subtitle"><a href="{{::vm.props.SelectedCourse.Url}}" target="_blank">Übung in PAUL anzeigen</a></p>
        </div>

        <button type="button" class="btn btn-popover"
                ng-disabled="vm.props.IsBusy"
                ng-if="::vm.props.SelectedCourse.Users.indexOf(vm.sync.User.Name) == -1"
                ng-click="addUserToCourse(vm.props.SelectedCourse.Id)">
            <span aria-hidden="true" class="glyphicon glyphicon-ok-sign"></span> Belegen
        </button>

        <button type="button" class="btn btn-popover"
                ng-disabled="vm.props.IsBusy"
                ng-if="::vm.props.SelectedCourse.Users.indexOf(vm.sync.User.Name) > -1 && !vm.props.SelectedCourse.IsPending"
                ng-click="removeUserFromCourse(vm.props.SelectedCourse.Id)">
            <span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span> Nicht mehr belegen
        </button>

        <button type="button" class="btn btn-popover"
                ng-if="::vm.props.SelectedCourse.IsTutorial && !vm.props.SelectedCourse.IsPending && vm.props.SelectedCourse.ShowAlternativeTutorials"
                ng-click="showAlternatives(vm.props.SelectedCourse.Id)"
                ng-disabled="vm.props.IsBusy">
            <span aria-hidden="true" class="glyphicon glyphicon-option-horizontal"></span> Alternativen einblenden
        </button>

        <button type="button" class="btn btn-popover"
                ng-if="::vm.props.SelectedCourse.IsTutorial && vm.props.SelectedCourse.IsPending && vm.props.SelectedCourse.ShowAlternativeTutorials"
                ng-click="removePendingTutorials(vm.props.SelectedCourse.Id)"
                ng-disabled="vm.props.IsBusy">
            <span aria-hidden="true" class="glyphicon glyphicon-option-horizontal"></span> Übungen ausblenden
        </button>

        <button type="button" class="btn btn-popover"
                ng-if="::vm.props.SelectedCourse.ShowDisplayTutorials"
                ng-click="addTutorialsForCourse(vm.props.SelectedCourse.Id)"
                ng-disabled="vm.props.IsBusy">
            <span aria-hidden="true" class="glyphicon glyphicon-option-horizontal"></span> Übungen anzeigen
        </button>

        <button type="button" class="btn btn-popover"
                ng-disabled="vm.props.IsBusy"
                ng-click="showDatesDialog(vm.props.SelectedCourse)">
            <span aria-hidden="true" class="glyphicon glyphicon-flash"></span> Überschneidungen anzeigen
        </button>
    </div>
</script>