<script type="text/ng-template" id="tree.html">
    <div id="myTree">
        <ng-include src="'leaf.html'"></ng-include>
    </div>
</script>

<script type="text/ng-template" id="branch.html">
    <div>
        <div ng-repeat="leaf in leaf.Subcategories" ng-include src="'leaf.html'"
             style="margin-left: 20px">
        </div>
    </div>
</script>

<script type="text/ng-template" id="leaf.html">
    <ng-include src="template"></ng-include>
    <ng-include src="'branch.html'"></ng-include>
</script>

<script type="text/ng-template" id="my-leaf.html">
    <button type="button" class="btn btn-default" onclick="$.connection.timetableHub.server.expandCourseCategory(angular.element(this).scope().leaf.ID)" style="float:left; height:20px; margin-right:8px;">+</button>
    <span style="display: block; padding: 4px;">{{leaf.Title}}</span>
    <ul>
        <li ng-repeat="result in leaf.Courses">
            {{result.MainCourse.Name}}
        </li>
    </ul>
</script>


<div id="searchCourseModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Veranstaltungen suchen</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Finde Veranstaltungen aus dem PAUL-Vorlesungsverzeichnis anhand des Namens, der Abkürzung, oder des Dozenten und füge sie deinem Stundenplan hinzu.</p>
                <p class="error">{{vm.sync.User.Errors.CourseSearchMessage}}</p>

                <div style="display: table-cell">
                    <input type="text" ng-model="vm.props.SearchQuery" placeholder="Suchbegriff" focus-on="searchInput" ng-change="searchQueryChanged(vm.props.SearchQuery)" style="min-width: 200px; float: left" />

                    <!-- busy indicator -->
                    <div class="sk-cube-grid" style="display: inline-block; margin-left: 12px; margin-top: 4px;"
                         ng-show="vm.props.SearchQueryChangeTimeout != null">
                        <div class="sk-cube sk-cube1"></div>
                        <div class="sk-cube sk-cube2"></div>
                        <div class="sk-cube sk-cube3"></div>
                        <div class="sk-cube sk-cube4"></div>
                        <div class="sk-cube sk-cube5"></div>
                        <div class="sk-cube sk-cube6"></div>
                        <div class="sk-cube sk-cube7"></div>
                        <div class="sk-cube sk-cube8"></div>
                        <div class="sk-cube sk-cube9"></div>
                    </div>
                </div>

                <!-- catalog browsing UI -->
                <div ng-if="vm.props.SearchQuery.length < 3 && vm.props.SearchQueryChangeTimeout == null">
                    <tree root="vm.sync.Search.CatalogRoot" template="my-leaf.html"
                          id="catalogBrowserTree"></tree>
                </div>

                <!-- list of search results -->
                <ul class="listView">
                    <li class="listView-item" ng-repeat="result in vm.sync.Search.SearchResults">

                        <div class="listView-item-info">
                            <!-- Template for the main course of a search results -->
                            <p class="listView-item-title">{{result.MainCourse.Name}}</p>
                            <p class="listView-item-subtitle">
                                {{result.MainCourse.Time}}
                                <span ng-if="result.MainCourse.TutorialCount > 0">
                                    <span ng-if="result.MainCourse.Time">+</span> {{result.MainCourse.TutorialCount}} Übung<span ng-if="result.MainCourse.TutorialCount > 1">en</span>
                                </span>
                            </p>
                            <p class="listView-item-subsubtitle">
                                <span ng-if="result.MainCourse.ShortName">{{result.MainCourse.ShortName}} (<a href="{{result.MainCourse.Url}}" target="_blank">{{result.MainCourse.InternalCourseID}}</a>)</span>
                                <span ng-if="!result.MainCourse.ShortName"><a href="{{result.MainCourse.Url}}" target="_blank">{{result.MainCourse.InternalCourseID}}</a></span>
                            </p>
                            <p class="listView-item-subsubtitle">{{result.MainCourse.Docent}}</p>

                            <div ng-repeat="course in result.ConnectedCourses" style="margin-top: 8px;">
                                <!-- Template for connected courses (which is the same as for the main course)-->
                                <p class="listView-item-title">{{course.Name}}</p>
                                <p class="listView-item-subtitle">
                                    {{course.Time}}
                                    <span ng-if="course.TutorialCount > 0"><span ng-if="course.Time">+</span> {{course.TutorialCount}} Übung<span ng-if="course.TutorialCount > 1">en</span></span>
                                </p>
                                <p class="listView-item-subsubtitle">
                                    <span ng-if="course.ShortName">{{course.ShortName}} (<a href="{{course.Url}}" target="_blank">{{course.InternalCourseID}}</a>)</span>
                                    <span ng-if="!course.ShortName"><a href="{{course.Url}}" target="_blank">{{course.InternalCourseID}}</a></span>
                                </p>
                                <p class="listView-item-subsubtitle">{{course.Docent}}</p>
                            </div>
                        </div>

                        <div class="listView-item-commands">
                            <button type="button" class="btn btn-default"
                                    ng-disabled="vm.props.IsBusy"
                                    ng-if="!result.MainCourse.IsAdded"
                                    ng-click="addCourse(result.MainCourse.Id)"
                                    data-course-id="{{result.MainCourse.Id}}">
                                <span class="glyphicon glyphicon-plus"></span> Hinzufügen
                            </button>
                            <button type="button" class="btn btn-default"
                                    ng-disabled="vm.props.IsBusy"
                                    ng-if="result.MainCourse.IsAdded"
                                    ng-click="removeCourse(result.MainCourse.Id)"
                                    data-course-id="{{result.MainCourse.Id}}">
                                <span class="glyphicon glyphicon-minus"></span> Entfernen
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>