<script type="text/ng-template" id="course.html">
    <ul class="listView">
        <li class="listView-item" ng-repeat="course in courseList">
            <div class="listView-item-info">
                <!-- Template for the main course of a search results -->
                <p class="listView-item-title">{{course.MainCourse.Name}}</p>
                <p class="listView-item-subtitle">
                    {{course.MainCourse.Time}}
                    <span ng-if="course.MainCourse.TutorialCount > 0">
                        <span ng-if="course.MainCourse.Time">+</span> {{course.MainCourse.TutorialCount}} Übung<span ng-if="course.MainCourse.TutorialCount > 1">en</span>
                    </span>
                </p>
                <p class="listView-item-subsubtitle">
                    <span ng-if="course.MainCourse.ShortName">{{course.MainCourse.ShortName}} (<a href="{{course.MainCourse.Url}}" target="_blank">{{course.MainCourse.InternalCourseID}}</a>)</span>
                    <span ng-if="!course.MainCourse.ShortName"><a href="{{course.MainCourse.Url}}" target="_blank">{{course.MainCourse.InternalCourseID}}</a></span>
                </p>
                <p class="listView-item-subsubtitle">{{course.MainCourse.Docent}}</p>

                <div ng-repeat="course in course.ConnectedCourses" style="margin-top: 8px;">
                    <!-- Template for connected courses (which is the same as for the main course)-->
                    <p class="listView-item-title">{{course.Name}}</p>
                    <p class="listView-item-subtitle">
                        {{course.Time}}
                        <span ng-if="course.TutorialCount > 0"><span ng-if="course.Time">+</span> {{course.TutorialCount}} Übung<span ng-if="course.TutorialCount > 1">en</span></span>
                    </p>
                    <p class="listView-item-subsubtitle">
                        <span ng-if="course.ShortName">{{course.ShortName}} (<a href="{{course.Url}}" target="_blank">{{course.InternalCourseID}}</a>)</span>
                        <span ng-if="!course.ShortName"><a href="{{course.Url}}" target="_blank">{{course.InternalCourseID}}</a></span>
                    </p>
                    <p class="listView-item-subsubtitle">{{course.Docent}}</p>
                </div>
            </div>

            <div class="listView-item-commands">
                <button type="button" class="btn btn-default"
                        ng-disabled="vm.props.IsBusy"
                        ng-if="!course.MainCourse.IsAdded"
                        ng-click="addCourseTemplate(course.MainCourse.Id)"
                        data-course-id="{{course.MainCourse.Id}}">
                    <span class="glyphicon glyphicon-plus"></span> Hinzufügen
                </button>
                <button type="button" class="btn btn-default"
                        ng-disabled="vm.props.IsBusy"
                        ng-if="course.MainCourse.IsAdded"
                        ng-click="removeCourseTemplate(course.MainCourse.Id)"
                        data-course-id="{{course.MainCourse.Id}}">
                    <span class="glyphicon glyphicon-minus"></span> Entfernen
                </button>
            </div>
        </li>
    </ul>
</script>


<div id="searchCourseModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Veranstaltungen suchen</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Finde Veranstaltungen aus dem PAUL-Vorlesungsverzeichnis anhand des Namens, der Abkürzung, oder des Dozenten und füge sie deinem Stundenplan hinzu.</p>
                <p class="error">{{vm.sync.User.Errors.CourseSearchMessage}}</p>

                <div style="display: table-cell">
                    <input type="text" ng-model="vm.props.SearchQuery" placeholder="Suchbegriff" focus-on="searchInput" ng-change="searchQueryChanged(vm.props.SearchQuery)" style="min-width: 200px; float: left" />

                    <!-- busy indicator -->
                    <div class="sk-cube-grid" style="display: inline-block; margin-left: 12px; margin-top: 4px;"
                         ng-show="vm.props.SearchQueryChangeTimeout != null">
                        <div class="sk-cube sk-cube1"></div>
                        <div class="sk-cube sk-cube2"></div>
                        <div class="sk-cube sk-cube3"></div>
                        <div class="sk-cube sk-cube4"></div>
                        <div class="sk-cube sk-cube5"></div>
                        <div class="sk-cube sk-cube6"></div>
                        <div class="sk-cube sk-cube7"></div>
                        <div class="sk-cube sk-cube8"></div>
                        <div class="sk-cube sk-cube9"></div>
                    </div>
                </div>

                <!-- catalog browsing UI -->
                <div ng-if="vm.props.SearchQuery.length < 3 && vm.props.SearchQueryChangeTimeout == null">

                    <ul class="listView">
                        <li class="listview-item" ng-click="navigateToCourseCategory(ancestor.ID)"
                            ng-repeat="ancestor in vm.sync.Search.CategoryBrowser.AncestorCategories">
                            <div class="listView-item-info">
                                <p class="listView-item-title">{{ancestor.Title}}</p>
                            </div>
                        </li>

                        <li class="listview-item">
                            <div class="listView-item-info">
                                <p class="listView-item-title"
                                   ng-show="vm.sync.Search.CategoryBrowser.CurrentCategory">
                                    {{vm.sync.Search.CategoryBrowser.CurrentCategory.Title}}
                                </p>
                                <ul>
                                    <li ng-repeat="subcategory in vm.sync.Search.CategoryBrowser.Subcategories">
                                        <b ng-click="navigateToCourseCategory(subcategory.ID)">
                                            {{subcategory.Title}}
                                        </b>
                                    </li>
                                </ul>
                                <paula-course-list course-list="vm.sync.Search.CategoryBrowser.Courses"
                                                   add-course="addCourse"
                                                   remove-course="removeCourse" />
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- list of search results -->
                <paula-course-list course-list="vm.sync.Search.SearchResults"
                                   add-course="addCourse"
                                   remove-course="removeCourse"/>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>