<div id="exportDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">In Kalender exportieren</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>


            </div>
            <div class="modal-body">
                <h4>Alle Termine in deinem Lieblingskalender</h4>
                <p>Abonniere diesen Link in einem Kalender deiner Wahl (z.B. bei <a href="https://www.google.com/calendar" target="_blank">Google</a> oder <a href="https://calendar.live.com/" target="_blank">Outlook.com</a>), um deine gewählten Vorlesungen, Seminare und Übungen darin anzuzeigen. Änderungen, die du danach noch in PAULa machst, werden auch in deinen Kalender übernommen.</p>
                <code>{{vm.sync.Export.ExportUrl}}</code>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>